{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}
    {% if request.LANGUAGE_CODE == 'ru' %}

        <h2>В данный момент Вы пользуетесь бета версией сервиса iqOffer.</h2>

        <hr/>

        <h4>Заказчикам:</h4>
        <p>Для заказчиков наш сервис предоставляется бесплатно. Навсегда.</p>

        <h4>ИТ-провайдерам:</h4>
        <p>Для ИТ-провайдеров наш сервис предоставляется бесплатно, но с некоторыми ограничениями. Платные функции мы
            планируем анонсировать позже. Все провайдеры будут проинформированы заранее. Бета верия сервиса
            iqOffer предоставляется бесплатно с неограниченным функицоналом.</p>
        <p>Тариф “Free” включает весь функционал. Тарифы “PRO” для продвинутых ИТ-провайдеров.</p>

    {% else %}
        <h2>At the moment, you are using the beta version of the iqOffer service.</h2>

        <hr/>

        <h4>Customers:</h4>
        <p>For customers, our service is free. Forever and ever.</p>

        <h4>Providers:</h4>
        <p>For IT-providers our service is free, but with some additional limitations. We plan to announce paid features
            later. All providers will be informed in advance. The beta version of the iqOffer service is
            provided free of charge with unlimited functionality.</p>
        <p>
            Free plan with all the basic features. Pro plan for advanced IT-providers.
        </p>

    {% endif %}

    <div class="row">
        {% for tariff in tariffs %}
            <div class="col-lg col-md-6 col-sm-12 col-12 card-group">
                <form method="POST" class="mt-3 w-100" action="">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2 class="m-0">{{ tariff.name }}</h2>
                        </div>
                        <div class="card-body">
                            {{ tariff.description|safe }}
                            <hr>
                            <h4 class="text-center mt-4">{{ tariff.price }} / {% trans tariff.get_currency_display %}</h4>
                        </div>
                        <div class="card-footer">
                            <input disabled type="submit" class="btn btn-success btn-block disabled"
                                   value="{% trans 'Buy' %} {{ tariff.get_type_display|upper }}-{{ tariff.replies }}">
                        </div>
                    </div>

                </form>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
