{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}

{% block content %}
    <h1 class="display-5">{{ title }}</h1>
    <br/>

    {% if object_list %}
        <table class="table table-hover">

            <thead>
            <tr class="text-center">
                <th scope="col">{% trans 'Request' %}</th>
                <th scope="col">{% trans 'Status' %}</th>
                <th scope="col">{% trans 'Date of publication' %}</th>
                <th scope="col">{% trans 'Deadline' %}</th>
                <th scope="col">{% trans 'Budget' %}</th>
                <th scope="col">{% trans 'Offers' %}</th>
                <th scope="col">{% trans 'My latest offer budget' %}</th>
                <th scope="col">{% trans 'My latest offer status' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% get_offer request.user order as offer %}
                {% get_order_new_messages request.user order as order_messages %}
                <tr class="text-center">
                    <td scope="row">
                        <a class="d-flex align-items-center justify-content-center"
                           href="{% url 'order_detail' order.id %}">{{ order.title }}
                            {% if order_messages %}
                                <span class="badge badge-success ml-1">{{ order_messages|length }}</span>
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <span class="badge badge-{{ order.get_status_color }}">{{ order.get_status }}</span>
                    </td>
                    <td>{{ order.published_at|default_if_none:'------' }}</td>
                    <td>{{ order.offer_deadline|default_if_none:'------' }}</td>
                    <td>
                        {% if order %}
                            {% include 'core/order/budget.html' %}
                        {% else %}
                            ------
                        {% endif %}
                    </td>
                    <td>{{ order.offers.count|default:'0' }}</td>
                    <td>
                        {% if offer %}
                            {{ offer.amount }} {{ order.get_currency_display }}
                        {% else %}
                            <span>{% trans 'Not responded' %}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if offer.is_declined %}
                            <span class="text-danger">{% trans 'Declined' %}</span>
                        {% elif offer.order.winner == request.user %}
                            <span class="text-success">{% trans 'Accepted' %}</span>
                        {% elif offer.order.winner == None %}
                            <span class="text-warning">{% trans 'Under consideration' %}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="d-flex justify-content-center">
                {% bootstrap_pagination page_obj %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}