{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}

{% block settings_content %}

    <h1 class="display-6">{% trans 'Are you sure you want delete' %} {% trans 'data center' %} "{{ object.name }}"?</h1>

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
    </form>
{% endblock %}