{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}


{% block settings_content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.name %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.country %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.city %}
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.address %}
            </div>
        </div>
        <hr>
        <button class="btn btn-success float-right" type="submit">{% trans 'Submit' %}</button>
    </form>

{% endblock %}