{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}


{% block settings_content %}

    <div class="clearfix d-flex align-items-center">
        <div class="ml-auto">
            <a class="btn btn-success btn-sm" href="{% url 'dc_create' %}">{% trans 'Add new data center' %}</a>
        </div>
    </div>
    <br>

    {% if object_list %}
            <table class="table table-hover  table-sm table-responsive-sm">
                <thead>
                <tr class="text-center">
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'Country' %}</th>
                    <th scope="col">{% trans 'City' %}</th>
                    <th scope="col">{% trans 'Address' %}</th>
                    <th scope="col">{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr class="text-center">
                        <td scope="row">{{ object.name }}</td>
                        <td>{{ object.country }}</td>
                        <td>{{ object.city }}</td>
                        <td>{{ object.address }}</td>

                        <td>
                            <a href="{% url 'dc_update' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'dc_delete' pk=object.pk %}"><i class="fas fa-trash ml-2"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="row">
            {% if is_paginated %}
                <div class="col-10">
                    {% bootstrap_pagination page_obj %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}