{% extends 'core/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 push-lg-10">
            <ul class="nav nav-pills flex-column">
                {% load core %}
                <li class="nav-item"><a
                        class="nav-link {% if request.path|startswith:'/settings/profile/' %} active {% endif %}"
                        href="{% url 'profile_settings' %}">{% trans "Profile" %}</a></li>
                <li class="nav-item"><a
                        class="nav-link {% if request.path|startswith:'/settings/offices/' %} active {% endif %}"
                        href="{% url 'office_list' %}">{% trans "Offices" %}</a></li>
                {% if request.user.is_provider %}
                    <li class="nav-item"><a
                            class="nav-link {% if request.path|startswith:'/settings/service/' %} active {% endif %}"
                            href="{% url 'service_list' %}">{% trans "Services" %}</a></li>
                    <li class="nav-item"><a
                            class="nav-link {% if request.path|startswith:'/settings/dc/' %} active {% endif %}"
                            href="{% url 'dc_list' %}">{% trans "Data centers" %}</a></li>
                {% endif %}
                <li class="nav-item"><a
                        class="nav-link {% if request.path|startswith:'/settings/requisites/' %} active {% endif %}"
                        href="{% url 'requisites' %}">{% trans "Bank details" %}</a></li>
                <li class="nav-item"><a
                        class="nav-link {% if request.path|startswith:'/settings/contact/' %} active {% endif %}"
                        href="{% url 'contact' %}">{% trans "Contacts" %}</a></li>
            </ul>
            <hr class="hidden-lg-up">
        </div>

        <div class="col-lg-10 col-md-12 col-sm-12 pull-lg-2">
            {% block settings_content %}
            {% endblock %}
        </div>
    </div>
{% endblock content %}

