{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}

{% block settings_content %}
    <div class="alert alert-warning">
        <h4 class="alert-heading">
            {% trans 'Attention' %}!
        </h4>
        <p class="mb-0">
            {% if request.user.is_customer %}
                {% trans 'Data from this page will be visible to the company that have been selected as your IT provider.' %}
            {% else %}
                {% trans 'Data from this page will be visible to customers.' %}
            {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.phone layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.skype layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.telegram layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.email layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.site layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>
                <hr class="mt-0">
                <div class="d-flex justify-content-end">
                    <input class="btn btn-primary mr-3" name="save_and_continue" type="submit"
                           value="{% trans 'Save and go to the list of requests' %}">
                    <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}