{% extends 'core/settings/base_settings.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block settings_content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-9 col-sm-12">
                <div class="mb-3">
                    <img src="
            {% if object.avatar %}{{ object.avatar.url }}{% else %}{% static 'core/img/avatar.png' %}{% endif %}"
                         alt="" class="rounded-circle mx-auto d-block" style="height: 100px; width: 100px;">
                </div>
                <div class="form-group h4 text-center">{{ request.user.email }}</div>
                <div class="form-group">
                    {{ form.avatar }}
                </div>
                {% bootstrap_field form.username %}
                {% bootstrap_field form.currency %}
                {% if request.user.is_customer %}
                    <label>{% trans 'Default business category' %}</label>
                    {% bootstrap_field form.business_category show_label='' %}
                {% endif %}
                {% bootstrap_field form.timezone %}
                {% bootstrap_field form.country %}
                {% bootstrap_field form.city %}

                {% if request.user.is_provider %}
                    {% bootstrap_field form.receive_potential_orders %}
                {% endif %}

                <hr>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}


{% block js %}
    <script src="{{ STATIC_URL }}core/js/citiesManager.js"></script>
    <script>
        $(document).ready(function () {
            var citiesManager = new CitiesManager(
                {
                    'ajaxUrl': '{% url 'get_cities' %}',
                    'cityValue': '{{ form.city.value }}'
                })
        })
    </script>
{% endblock js %}