{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block settings_content %}
    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                    <h4>{% trans 'Company info' %}</h4>
                        </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.legal_provision layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.company_name layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="col-12">
                    <h4>{% trans 'Bank details' %}</h4>
                        </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.payment_account layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.bank_name layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.swift layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.inn layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.kpp layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.bik layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-10 offset-1">
                        {% bootstrap_field form.okpo layout="horizontal" horizontal_label_class="col-3" horizontal_field_class="col-7" %}
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" type="submit">{% trans 'Save' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}