{% extends 'core/base2.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}
    <br/>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <form class="form-horizontal" role="form" method="POST" action="">
                <div class="card">
                    <div class="card-header text-center">
                        <h2 class="display-1" style="font-size: 2rem;">{{ title }}</h2>
                    </div>
                    <div class="card-block">
                        <div style="margin-bottom: -1rem">
                        {% csrf_token %}
                        {% bootstrap_form form layout='inline' %}
                            </div>
                    </div>
                    <div class="card-footer bg-white">
                        {% block buttons %}
                        {% endblock buttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
