{% extends 'auth2/base.html' %}

{% load bootstrap4 %}

{% block buttons %}
    <button class="btn btn-primary btn-block" type="submit">{% trans 'Log in' %}</button>
    <hr>
    <div class="text-center">
        <a href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
        <br/>
        <a href="{% url 'registration' %}">{% trans 'Sign up' %}</a>
    </div>
{% endblock buttons %}
