{% extends 'auth2/base.html' %}

{% load bootstrap4 %}

{% block buttons %}
    <button class="btn btn-primary btn-block" type="submit">{% trans 'Restore password' %}</button>
    <hr>
    <div class=" text-center">
        <a href="{% url 'login' %}">{% trans 'Sign in' %}</a>
        <br/>
        <a href="{% url 'registration' %}">{% trans 'Sign up' %}</a>
    </div>
{% endblock buttons %}
