{% extends 'auth2/base.html' %}

{% load bootstrap4 %}

{% block buttons %}
    <button class="btn btn-primary btn-block" type="submit">{% trans 'Sign up' %}</button>
    <hr>
    <div class="text-center">
        <a href="{% url 'retry' %}">{% trans 'Does not the activation code come up?' %}</a>
    </div>
{% endblock buttons %}