{% trans 'Americas' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Russian Federation' %} <br/>
{% trans 'Moscow' %} <br/>
{% trans 'St. Petersburg' %} <br/>
{% trans 'Abakan' %} <br/>
{% trans 'Achinsk' %} <br/>
{% trans 'Almetyevsk' %} <br/>
{% trans 'Angarsk' %} <br/>
{% trans 'Arkhangelsk' %} <br/>
{% trans 'Armavir' %} <br/>
{% trans 'Artem' %} <br/>
{% trans 'Arzamas' %} <br/>
{% trans 'Astrakhan' %} <br/>
{% trans 'Balakovo' %} <br/>
{% trans 'Balashiha' %} <br/>
{% trans 'Barnaul' %} <br/>
{% trans 'Bataysk' %} <br/>
{% trans 'Belgorod' %} <br/>
{% trans 'Berdsk' %} <br/>
{% trans 'Berezniki' %} <br/>
{% trans 'Biysk' %} <br/>
{% trans 'Blagoveshchensk' %} <br/>
{% trans 'Bratsk' %} <br/>
{% trans 'Bryansk' %} <br/>
{% trans 'Cheboksary' %} <br/>
{% trans 'Chelyabinsk' %} <br/>
{% trans 'Cherepovets' %} <br/>
{% trans 'Cherkessk' %} <br/>
{% trans 'Chita' %} <br/>
{% trans 'Derbent' %} <br/>
{% trans 'Dimitrovgrad' %} <br/>
{% trans 'Dolgoprudny' %} <br/>
{% trans 'Domodedovo' %} <br/>
{% trans 'Dzerzhinsk' %} <br/>
{% trans 'Ekaterinburg' %} <br/>
{% trans 'Electrostal' %} <br/>
{% trans 'Elets' %} <br/>
{% trans 'Elista' %} <br/>
{% trans 'Engels' %} <br/>
{% trans 'Essentuki' %} <br/>
{% trans 'Evpatoria' %} <br/>
{% trans 'Grozny' %} <br/>
{% trans 'Irkutsk' %} <br/>
{% trans 'Ivanovo' %} <br/>
{% trans 'Izhevsk' %} <br/>
{% trans 'Kaliningrad' %} <br/>
{% trans 'Kaluga' %} <br/>
{% trans 'Kamensk-Uralsky' %} <br/>
{% trans 'Kamyshin' %} <br/>
{% trans 'Kaspiysk' %} <br/>
{% trans 'Kazan' %} <br/>
{% trans 'Kemerovo' %} <br/>
{% trans 'Kerch' %} <br/>
{% trans 'Khabarovsk' %} <br/>
{% trans 'Khasavyurt' %} <br/>
{% trans 'Khimki' %} <br/>
{% trans 'Kirov' %} <br/>
{% trans 'Kislovodsk' %} <br/>
{% trans 'Kolomna' %} <br/>
{% trans 'Komsomolsk-on-Amur' %} <br/>
{% trans 'Kopeisk' %} <br/>
{% trans 'Korolev' %} <br/>
{% trans 'Kostroma' %} <br/>
{% trans 'Kovrov' %} <br/>
{% trans 'Krasnodar' %} <br/>
{% trans 'Krasnogorsk' %} <br/>
{% trans 'Krasnoyarsk' %} <br/>
{% trans 'Kurgan' %} <br/>
{% trans 'Kursk' %} <br/>
{% trans 'Kyzyl' %} <br/>
{% trans 'Lipetsk' %} <br/>
{% trans 'Lyubertsy' %} <br/>
{% trans 'Magnitogorsk' %} <br/>
{% trans 'Maikop' %} <br/>
{% trans 'Makhachkala' %} <br/>
{% trans 'Miass' %} <br/>
{% trans 'Murmansk' %} <br/>
{% trans 'Murom' %} <br/>
{% trans 'Mytischi' %} <br/>
{% trans 'Naberezhnye Chelny' %} <br/>
{% trans 'Nakhodka' %} <br/>
{% trans 'Nalchik' %} <br/>
{% trans 'Nazran' %} <br/>
{% trans 'Neftekamsk' %} <br/>
{% trans 'Nefteyugansk' %} <br/>
{% trans 'Nevinnomyssk' %} <br/>
{% trans 'New Urengoy' %} <br/>
{% trans 'Nizhnekamsk' %} <br/>
{% trans 'Nizhnevartovsk' %} <br/>
{% trans 'Nizhny Novgorod' %} <br/>
{% trans 'Nizhny Tagil' %} <br/>
{% trans 'Noginsk' %} <br/>
{% trans 'Norilsk' %} <br/>
{% trans 'Novocheboksarsk' %} <br/>
{% trans 'Novocherkassk' %} <br/>
{% trans 'Novokuibyshevsk' %} <br/>
{% trans 'Novokuznetsk' %} <br/>
{% trans 'Novomoskovsk' %} <br/>
{% trans 'Novorossiysk' %} <br/>
{% trans 'Novoshakhtinsk' %} <br/>
{% trans 'Novosibirsk' %} <br/>
{% trans 'Noyabrsk' %} <br/>
{% trans 'Obninsk' %} <br/>
{% trans 'Odintsovo' %} <br/>
{% trans 'Oktyabrskiy' %} <br/>
{% trans 'Omsk' %} <br/>
{% trans 'Orekhovo-Zuyevo' %} <br/>
{% trans 'Orel' %} <br/>
{% trans 'Orenburg' %} <br/>
{% trans 'Orsk' %} <br/>
{% trans 'Penza' %} <br/>
{% trans 'Perm' %} <br/>
{% trans 'Pervouralsk' %} <br/>
{% trans 'Petropavlovsk-Kamchatsky' %} <br/>
{% trans 'Petrozavodsk' %} <br/>
{% trans 'Podolsk' %} <br/>
{% trans 'Prokopyevsk' %} <br/>
{% trans 'Pskov' %} <br/>
{% trans 'Pushkino' %} <br/>
{% trans 'Pyatigorsk' %} <br/>
{% trans 'Ramenskoe' %} <br/>
{% trans 'Rostov-na-Donu' %} <br/>
{% trans 'Rubtsovsk' %} <br/>
{% trans 'Ryazan' %} <br/>
{% trans 'Rybinsk' %} <br/>
{% trans 'Salavat' %} <br/>
{% trans 'Samara' %} <br/>
{% trans 'Saransk' %} <br/>
{% trans 'Saratov' %} <br/>
{% trans 'Sergiev Posad' %} <br/>
{% trans 'Serpukhov' %} <br/>
{% trans 'Sevastopol' %} <br/>
{% trans 'Severodvinsk' %} <br/>
{% trans 'Seversk' %} <br/>
{% trans 'Shakhty' %} <br/>
{% trans 'Shchelkovo' %} <br/>
{% trans 'Simferopol' %} <br/>
{% trans 'Sizran' %} <br/>
{% trans 'Smolensk' %} <br/>
{% trans 'Sochi' %} <br/>
{% trans 'Stary Oskol' %} <br/>
{% trans 'Stavropol' %} <br/>
{% trans 'Sterlitamak' %} <br/>
{% trans 'Surgut' %} <br/>
{% trans 'Syktyvkar' %} <br/>
{% trans 'Taganrog' %} <br/>
{% trans 'Tambov' %} <br/>
{% trans 'Tolyatti' %} <br/>
{% trans 'Tomsk' %} <br/>
{% trans 'Tula' %} <br/>
{% trans 'Tver' %} <br/>
{% trans 'Tyumen' %} <br/>
{% trans 'Ufa' %} <br/>
{% trans 'Ulan-Ude' %} <br/>
{% trans 'Ulyanovsk' %} <br/>
{% trans 'Ussuriysk' %} <br/>
{% trans 'Velikiy Novgorod' %} <br/>
{% trans 'Vladikavkaz' %} <br/>
{% trans 'Vladimir' %} <br/>
{% trans 'Vladivostok' %} <br/>
{% trans 'Volgodonsk' %} <br/>
{% trans 'Volgograd' %} <br/>
{% trans 'Vologda' %} <br/>
{% trans 'Volzhsky' %} <br/>
{% trans 'Voronezh' %} <br/>
{% trans 'Yakutsk' %} <br/>
{% trans 'Yaroslavl' %} <br/>
{% trans 'Yoshkar-Ola' %} <br/>
{% trans 'Yuzhno-Sakhalinsk' %} <br/>
{% trans 'Zheleznogorsk' %} <br/>
{% trans 'Zhukovsky' %} <br/>
{% trans 'Zlatoust' %} <br/>
{% trans 'Analytics' %} <br/>
{% trans 'Antispam' %} <br/>
{% trans 'Automation' %} <br/>
{% trans 'Big Data' %} <br/>
{% trans 'Brainstorm' %} <br/>
{% trans 'CDN' %} <br/>
{% trans 'Collaboration' %} <br/>
{% trans 'Communication' %} <br/>
{% trans 'Corporate mail' %} <br/>
{% trans 'Data storage' %} <br/>
{% trans 'Development' %} <br/>
{% trans 'Documents' %} <br/>
{% trans 'Education / Training' %} <br/>
{% trans 'Finance' %} <br/>
{% trans 'Hosting' %} <br/>
{% trans 'HR' %} <br/>
{% trans 'Management Services' %} <br/>
{% trans 'Marketing' %} <br/>
{% trans 'Microsoft solutions' %} <br/>
{% trans 'Office software' %} <br/>
{% trans 'Outsourcing' %} <br/>
{% trans 'Research' %} <br/>
{% trans 'SaaS' %} <br/>
{% trans 'Sales' %} <br/>
{% trans 'Security' %} <br/>
{% trans 'SMM' %} <br/>
{% trans 'Virtual desktop' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Marketing services' %} <br/>
{% trans 'Sales analytics' %} <br/>
{% trans 'IT outsourcing' %} <br/>
{% trans 'Collaboration services' %} <br/>
{% trans 'Backup' %} <br/>
{% trans 'SMM services' %} <br/>
{% trans 'Communication services' %} <br/>
{% trans 'Talent management' %} <br/>
{% trans 'Helpdesk' %} <br/>
{% trans 'Anti DDoS' %} <br/>
{% trans 'Antispam services' %} <br/>
{% trans 'Data mining' %} <br/>
{% trans 'CDN providers' %} <br/>
{% trans 'Corporate mail service' %} <br/>
{% trans 'DaaS (Desktop as a service)' %} <br/>
{% trans 'CRM' %} <br/>
{% trans 'Custom development' %} <br/>
{% trans 'Business processes automation' %} <br/>
{% trans 'Docflow' %} <br/>
{% trans 'Course organization service' %} <br/>
{% trans 'Big data development' %} <br/>
{% trans 'MS Office' %} <br/>
{% trans 'Rental software' %} <br/>
{% trans 'Accounting' %} <br/>
{% trans 'Brainstorm solutions' %} <br/>
{% trans '1S Bitrix hosting' %} <br/>
{% trans 'Collocation' %} <br/>
{% trans 'Project management' %} <br/>
{% trans 'Code scanner' %} <br/>
{% trans 'Calls automation' %} <br/>
{% trans 'Big data services' %} <br/>
{% trans 'VoIP' %} <br/>
{% trans 'VDI' %} <br/>
{% trans 'Development platforms' %} <br/>
{% trans 'Portal and Platforms' %} <br/>
{% trans 'Blockchain' %} <br/>
{% trans 'Data storage solutions' %} <br/>
{% trans 'Web analytics' %} <br/>
{% trans 'Promo services' %} <br/>
{% trans 'Office 365' %} <br/>
{% trans 'Order services' %} <br/>
{% trans 'Reputation management' %} <br/>
{% trans 'Rent 1С' %} <br/>
{% trans 'Webinar service' %} <br/>
{% trans 'Website development platform' %} <br/>
{% trans 'Sales automation' %} <br/>
{% trans 'Task management' %} <br/>
{% trans 'DLP (Data Leak Protection)' %} <br/>
{% trans 'Dedicated servers' %} <br/>
{% trans 'WAF (Web Application Firewall)' %} <br/>
{% trans 'Federal Law No.152' %} <br/>
{% trans 'Time-management' %} <br/>
{% trans 'IaaS (Infrastructure as a service)' %} <br/>
{% trans 'PCI-DSS hosting' %} <br/>
{% trans 'Rent GPU' %} <br/>
{% trans 'SSL certificates' %} <br/>
{% trans 'VPS/VDS' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other Saas' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Other' %} <br/>
{% trans 'Accounting' %} <br/>
{% trans 'Airlines/Aviation' %} <br/>
{% trans 'Alternative Dispute Resolution' %} <br/>
{% trans 'Alternative Medicine' %} <br/>
{% trans 'Animation' %} <br/>
{% trans 'Apparel & Fashion' %} <br/>
{% trans 'Architecture & Planning' %} <br/>
{% trans 'Arts & Crafts' %} <br/>
{% trans 'Automotive' %} <br/>
{% trans 'Aviation & Aerospace' %} <br/>
{% trans 'Banking' %} <br/>
{% trans 'Biotechnology' %} <br/>
{% trans 'Broadcast Media' %} <br/>
{% trans 'Building Materials' %} <br/>
{% trans 'Business Supplies & Equipment' %} <br/>
{% trans 'Capital Markets' %} <br/>
{% trans 'Chemicals' %} <br/>
{% trans 'Civil & Social Organization' %} <br/>
{% trans 'Civil Engineering' %} <br/>
{% trans 'Commercial Real Estate' %} <br/>
{% trans 'Computer & Network Security' %} <br/>
{% trans 'Computer Games' %} <br/>
{% trans 'Computer Hardware' %} <br/>
{% trans 'Computer Networking' %} <br/>
{% trans 'Computer Software' %} <br/>
{% trans 'Construction' %} <br/>
{% trans 'Consumer Electronics' %} <br/>
{% trans 'Consumer Goods' %} <br/>
{% trans 'Consumer Goods' %} <br/>
{% trans 'Consumer Services' %} <br/>
{% trans 'Cosmetics' %} <br/>
{% trans 'Dairy' %} <br/>
{% trans 'Defense & Space' %} <br/>
{% trans 'Design' %} <br/>
{% trans 'E-learning' %} <br/>
{% trans 'Education Management' %} <br/>
{% trans 'Electrical & Electronic Manufacturing' %} <br/>
{% trans 'Entertainment' %} <br/>
{% trans 'Environmental Services' %} <br/>
{% trans 'Events Services' %} <br/>
{% trans 'Executive Office' %} <br/>
{% trans 'Facilities Services' %} <br/>
{% trans 'Farming' %} <br/>
{% trans 'Financial Services' %} <br/>
{% trans 'Fine Art' %} <br/>
{% trans 'Fine Art' %} <br/>
{% trans 'Fishery' %} <br/>
{% trans 'Food & Beverages' %} <br/>
{% trans 'Food Production' %} <br/>
{% trans 'Fundraising' %} <br/>
{% trans 'Furniture' %} <br/>
{% trans 'Glass, Ceramics, & Concrete' %} <br/>
{% trans 'Government Administration' %} <br/>
{% trans 'Government Relations' %} <br/>
{% trans 'Graphic Design' %} <br/>
{% trans 'Health, Wellness & Fitness' %} <br/>
{% trans 'Higher Education' %} <br/>
{% trans 'Hospital & Health Care' %} <br/>
{% trans 'Hospitality' %} <br/>
{% trans 'Human Resources' %} <br/>
{% trans 'Import & Export' %} <br/>
{% trans 'Individual & Family Services' %} <br/>
{% trans 'Industrial Automation' %} <br/>
{% trans 'Information Services' %} <br/>
{% trans 'Information Technology & Services' %} <br/>
{% trans 'Insurance' %} <br/>
{% trans 'International Affairs' %} <br/>
{% trans 'International Trade & Development' %} <br/>
{% trans 'Internet' %} <br/>
{% trans 'Investment Banking/Venture' %} <br/>
{% trans 'Investment Management' %} <br/>
{% trans 'Judiciary' %} <br/>
{% trans 'Law Enforcement' %} <br/>
{% trans 'Law Practice' %} <br/>
{% trans 'Legal Services' %} <br/>
{% trans 'Legislative Office' %} <br/>
{% trans 'Leisure & Travel' %} <br/>
{% trans 'Libraries' %} <br/>
{% trans 'Logistics & Supply Chain' %} <br/>
{% trans 'Luxury Goods & Jewelry' %} <br/>
{% trans 'Machinery' %} <br/>
{% trans 'Management Consulting' %} <br/>
{% trans 'Maritime' %} <br/>
{% trans 'Market Research' %} <br/>
{% trans 'Marketing & Advertising' %} <br/>
{% trans 'Mechanical/Industrial Engineering' %} <br/>
{% trans 'Media Production' %} <br/>
{% trans 'Medical Device' %} <br/>
{% trans 'Medical Practice' %} <br/>
{% trans 'Mental Health Care' %} <br/>
{% trans 'Military' %} <br/>
{% trans 'Mining & Materials' %} <br/>
{% trans 'Motion Pictures & Film' %} <br/>
{% trans 'Museums & Institutions' %} <br/>
{% trans 'Music' %} <br/>
{% trans 'Music' %} <br/>
{% trans 'Nanotechnology' %} <br/>
{% trans 'Newspapers' %} <br/>
{% trans 'Nonprofit Organization Management' %} <br/>
{% trans 'Oil & Energy' %} <br/>
{% trans 'Online Publishing' %} <br/>
{% trans 'Outsourcing/Offshoring' %} <br/>
{% trans 'Package/Freight Delivery' %} <br/>
{% trans 'Packaging & Containers' %} <br/>
{% trans 'Paper & Forest Products' %} <br/>
{% trans 'Performing Arts' %} <br/>
{% trans 'Pharmaceuticals' %} <br/>
{% trans 'Philanthropy' %} <br/>
{% trans 'Photography' %} <br/>
{% trans 'Plastics' %} <br/>
{% trans 'Political Organization' %} <br/>
{% trans 'Printing' %} <br/>
{% trans 'Professional Training' %} <br/>
{% trans 'Program Development' %} <br/>
{% trans 'Public Relations' %} <br/>
{% trans 'Publishing' %} <br/>
{% trans 'Railroad' %} <br/>
{% trans 'Railroad Manufacture' %} <br/>
{% trans 'Ranching' %} <br/>
{% trans 'Real Estate' %} <br/>
{% trans 'Recreational Facilities & Services' %} <br/>
{% trans 'Religious Institutions' %} <br/>
{% trans 'Renewables & Environment' %} <br/>
{% trans 'Research' %} <br/>
{% trans 'Restaurants' %} <br/>
{% trans 'Retail' %} <br/>
{% trans 'Security & Investigations' %} <br/>
{% trans 'Semiconductors' %} <br/>
{% trans 'Shipbuilding' %} <br/>
{% trans 'Sporting Goods' %} <br/>
{% trans 'Sports' %} <br/>
{% trans 'Staffing & Recruiting' %} <br/>
{% trans 'Supermarkets' %} <br/>
{% trans 'Telecommunications' %} <br/>
{% trans 'Textiles' %} <br/>
{% trans 'Think Tanks' %} <br/>
{% trans 'Translation & Localization' %} <br/>
{% trans 'Transportation' %} <br/>
{% trans 'Trucking' %} <br/>
{% trans 'Utilities' %} <br/>
{% trans 'Venture Capital' %} <br/>
{% trans 'Veterinary' %} <br/>
{% trans 'Warehousing' %} <br/>
{% trans 'Wholesale' %} <br/>
