{% extends 'core/base2.html' %}
{% load bootstrap4 %}
{% load core %}


{% block content %}
    <h1 class="display-5">{{ title }}</h1>

    {% if services %}
        <table class="table table-hover table-responsive-sm table-responsive-md">
            <thead>
            <tr class="text-center">
                <th scope="col">{% trans 'Service' %}</th>
                <th scope="col">{% trans 'Minimum cost' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Subcategory' %}</th>
                <th scope="col">{% trans 'Business category' %}</th>
                <th scope="col">{% trans 'Currency' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in services %}
                {% get_customer_service_new_messages object request.user as new_messages %}
                <tr class="text-center">
                    <td scope="row"><a href="{% url 'service' object.id %}">{{ object.name }}
                    {% if new_messages %}
                                <span class="badge badge-success ml-1">{{ new_messages|length }}</span>
                            {% endif %}
                    </a>
                    </td>
                    <td>{{ object.min_cost }}</td>
                    <td>{% trans object.category.name %}</td>
                    <td>{% trans object.subcategory.name %}</td>
                    <td>{% trans object.business_category.name|default:'-------' %}</td>
                    <td>{{ object.currency|default_if_none:'------' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            {% if is_paginated %}
                <div class="col-10">
                    {% bootstrap_pagination page_obj %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock content %}