{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 push-lg-9 push-md-8">

            {% include 'core/user/profile_card.inc.html' with user=service.user %}

            {% include 'core/user/profile_contacts.inc.html' with user=service.user can_see_contacts=True %}

            {% if request.user != service.user %}
                {% csrf_token %}
                <div class="row">

                    <div class="col-12">
                        {% if request.is_customer %}
                            {% if request.user.my_orders.all|get_user_published_orders %}
                                <a href="{% url 'service_invite' object.pk %}"
                                   class="btn btn-primary btn-sm btn-block">Invite</a>
                            {% endif %}
                        {% endif %}
                        <hr class="hidden-md-up">
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-lg-9 col-md-8 col-sm-12 pull-lg-3 pull-md-4">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-1">{{ service.name }}</h1>
                    <div class="display-6 mb-1">{{ service.category }}, {{ service.subcategory.name }}</div>
                    <hr/>
                    <p>{{ service.description }}</p>
                    <hr/>
                </div>
                {% if dialogs %}
                    <div class="col-12">
                        {% if request.user == service.user %}
                            <h3>{% trans 'Dialogs with customers' %}</h3>
                            <hr>
                        {% elif request.user.is_customer %}
                            <h3>{% trans 'Contact with provider' %}</h3>
                            <hr>
                        {% endif %}
                    </div>

                    {% if request.user == service.user or request.user.is_customer %}
                        {% for recipient, messages_history in dialogs %}
                            <div class="col-12">
                                {% include 'core/messages/message_container.html' %}
                            </div>
                        {% endfor %}
                        <div class="col-12 d-flex justify-content-center">
                            {% include 'core/messages/pagination.html' %}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
