{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}
{% load i18n %}

{% block content %}
    <h1 class="display-5">{% trans "Services" %} ({{ services|length }})</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 push-lg-9 mb-3">
            <form class="sidebar p-25" action="" method="get" style="padding: 25px">
                <h3 class="mt-0 p-0">{% trans 'Search' %}</h3>
                <hr/>

                <div class="row">
                    {% for field in filter_form %}
                        <div class="col-12">
                            {% bootstrap_field field bound_css_class='' %}
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">{% trans 'Search' %}</button>

                        {% if request.user.is_authenticated and request.user.is_customer %}
                            <a href="#" id="order_create" class="btn btn-success btn-sm btn-block mt-2">
                                {% trans 'Submit request' %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 pull-lg-3">
            {% for service in services %}
                <div class="jumbotron jumbotron-fluid pl-3 pr-3">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <div class="row">
                                <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                                    <img class="rounded-circle img-fluid"
                                         src="

                                                 {% if service.image %}{{ service.image.url }}{% else %}http://via.placeholder.com/150x150{% endif %}"
                                         alt="">
                                    <div style="margin-left: 1px" class="rating mt-1"
                                         data-rating="{{ service.user.rating }}">

                                    </div>

                                    <div class="center">
                                        <span class="posFeedback">+{{ service.user.get_positive_feedbacks.count }}</span>/<span
                                            class="negFeedBack">-{{ service.user.get_negative_feedbacks.count }}</span>
                                    </div>

                                    <hr class="hidden-md-up">
                                </div>
                                <div class="col-lg-10 col-md-8 col-sm-12">
                                    <div>
                                        <b><a href="{% url 'profile' service.user.id %}">{{ service.user }}</a></b>
                                        <div>
                                            {% trans 'Offers won' %}:
                                            {{ service.user.offers_won }}
                                            {% trans 'since' %}
                                            {{ service.user.date_joined|date }}
                                            {% if service.user.joined_len %}({{ service.user.joined_len }}){% endif %}
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <b>{{ service.name }}</b>
                                        <hr class="mt-1 mb-1">
                                        <div>{% if service.description %}
                                            {{ service.description|truncatechars:100 }}{% else %}
                                            {% trans 'Customer did not provide a description for this service' %}{% endif %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <span class="wrap-text"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12">

                            <a href="{% url 'service' service.pk %}"
                               class="btn btn-secondary btn-sm btn-block mt-2">{% trans 'Details' %}
                            </a>

                            {% if request.user.is_customer %}
                                {% if request.user.my_orders.all|get_user_published_orders %}
                                    <a href="{% url 'service_invite' service.pk %}"
                                       class="btn btn-primary btn-sm btn-block mt-2">{% trans 'Invite' %}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if is_paginated %}
                <div class="d-flex justify-content-center">
                    {% bootstrap_pagination page_obj %}
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            sub_id = parseInt('{{ form.subcategory.value|default_if_none:'' }}')
                || parseInt('{{ service.subcategory.id }}')
                || parseInt('{{ filter.form.subcategory.value }}')
                || parseInt('{{ request.GET.subcategory }}');
            category_id = $('#id_category option:selected').val() || parseInt('{{ request.GET.category }}');
            get_subs_url = '{% url "get_subcategories" %}';
            order_create_url = '{% url "order_create" %}';
        })
    </script>
    {% comment %} <script src="{{ STATIC_URL }}core/js/subcategory.js"></script>{% endcomment %}
    <script src="{{ STATIC_URL }}core/js/create_order.js"></script>
    <script src="{{ STATIC_URL }}core/js/citiesManager.js"></script>

    <script>
        $(document).ready(function () {
            var citiesManager = new CitiesManager(
                {
                    'ajaxUrl': '{% url 'get_cities' %}',
                    'cityValue': '{{ form.city.value }}'
                })
        });
    </script>
{% endblock js %}