{% load bootstrap4 %}
{% load core %}


<div id="dialog">
    {% if messages_history|length >= 3 and not scrollable %}
        {% trans 'Shown last 3 messages' %}.
        {% if service %}
            <a href="{% url 'service_messages' service.id recipient.id %}">{% trans 'Show all' %}</a>
        {% endif %}
        {% if order %}
            <a href="{% url 'order_messages' order.id recipient.id %}">{% trans 'Show all' %}</a>
        {% endif %}
        <hr class="mt-2">
    {% endif %}
    {% for message in messages_history %}
        <div class="media {% if forloop.counter != 1 %}mt-3{% endif %}">
            {% if order %}
                {% if not order.show_contacts_only_for_winner or request.user == order.owner or message.recipient == order.owner or message.recipient == order.winner %}
                    <img class="mr-3 rounded-circle" width="50" height="50"
                         src="{% if message.sender.avatar %}{{ message.sender.avatar.url }}{% else %}//placehold.it/50x50{% endif %}">
                {% else %}
                    <img class="mr-3 rounded-circle" width="50" height="50"
                         src="{{ STATIC_URL }}core/img/question.png">
                {% endif %}
            {% else %}
                <img class="mr-3 rounded-circle" width="50" height="50"
                     src="{% if message.sender.avatar %}{{ message.sender.avatar.url }}{% else %}//placehold.it/50x50{% endif %}">
            {% endif %}
            <div class="media-body">
                <div>
                    {% if order %}
                        {% if not order.show_contacts_only_for_winner or request.user == order.owner or message.recipient == order.owner or message.recipient == order.winner %}
                            {{ message.sender }}
                        {% endif %}
                    {% else %}
                        {{ message.sender }}
                    {% endif %}
                    <small>({{ message.created_at }})</small>
                </div>
                {{ message.text|urlize }}
            </div>
        </div>
    {% endfor %}
</div>

