{% load core %}

{% get_offer_for_messages recipient order as offer %}

<div class="card mb-3">
    {% if service and recipient != service.user or order and recipient != order.owner or show_head %}
        <div class="card-header bg-white">
            <div class="row">
                <div class="col-2 text-center">
                    <img width="80px" class="rounded-circle img-fluid" src="





                            {% if recipient.avatar %}{{ recipient.avatar.url }}{% else %}http://via.placeholder.com/150x150{% endif %}">
                    <div class="rating text-center" data-rating="{{ user.rating }}"></div>
                    <div class="mr-2">
                        <span class="posFeedback">+{{ user.get_positive_feedbacks.count }}/</span>
                        <span class="negFeedBack">-{{ user.get_negative_feedbacks.count }}</span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="row">
                        <div class="col-6 d-flex align-items-end">
                            <b><a href="{% url 'profile' recipient.pk %}">{{ recipient }}</a> </b>
                        </div>
                        {% if offer %}
                            <div class="col-6 text-right">
                                {% if not order.winner %}
                                    <a href="{% url 'offer_accept' order.id offer.id %}"
                                       class="btn btn-outline-success btn-sm mb-0">{% trans 'Accept' %}</a>
                                    <a href="{% url 'offer_decline' offer.pk %}"
                                       class="btn btn-outline-danger btn-sm mb-0">{% trans 'Decline' %}</a>    {% else %}
                                    {% if not order.has_performer_feedback %}
                                        <a href="{% url 'order_feedback' order.id %}"
                                           class="btn btn-outline-primary btn-sm">{% trans 'Feedback' %}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <hr class="mt-1 mb-1">
                    {% if offer %}
                        <div>{% trans 'Budget proposal' %}: {{ offer.amount }}
                        </div>
                        <div>{% trans 'Covering letter' %}: {{ offer.comment }}</div>
                        {% if offer.file %}
                            <span>{% trans 'Attached file' %}: </span>
                            <a href="{{ offer.file.url }}">{% trans 'download' %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if messages_history %}
        <div class="card-block bg-secondary" {% if scrollable %}id="messages-box"{% endif %}>
            {% include 'core/messages/messages_history.html' %}
        </div>
    {% endif %}
    <div class="card-footer bg-white {% if not messages_history %}border-top-0{% endif %}">
        {% include 'core/messages/message_form.html' %}
    </div>
</div>