<form action="{% url 'message_save' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <input type="text" name="path" value="{{ request.path }}" hidden>
            <select name="service" hidden>
                <option selected value="{{ service.id }}"></option>
            </select>
            <select name="order" hidden>
                <option selected value="{{ order.id }}"></option>
            </select>
            <select name="sender" hidden>
                <option selected value="{{ request.user.id }}">{{ request.user }}</option>
            </select>
            <select name="recipient" hidden>
                <option selected value="{{ recipient.id }}">{{ recipient }}</option>
            </select>
            <input class="form-control" id="id_text" name="text" placeholder="{% trans 'Enter message' %}">
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-outline-primary btn-block" value="{% trans 'Send' %}"/>
        </div>
    </div>
</form>