{% extends 'core/base2.html' %}

{% block content %}
    <h1 class="display-5">Order <a href="{% url 'order_detail' order.id %}">{{ order }}</a> dialog</h1>
    <hr>
    {% include 'core/messages/message_container.html' %}
{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function () {
            var messages = $('#messages-box');
            messages.scrollTop(messages.prop("scrollHeight"));
        });
    </script>
{% endblock js %}