{% if dialogs_paginator.page_range|length > 1 %}
    <nav>
        <ul class="pagination">
            {% for page in dialogs_paginator.page_range %}
                <li class="page-item {% if request.GET.messages_page == page|slugify or not request.GET.messages_page and page == 1%}active{% endif %}"><a
                        class="page-link" href="?messages_page={{ page }}">{{ page }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}