{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}core/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}core/img/favicon.ico" type="image/x-icon">

    <!-- dont touch this http://y2u.be/otCpCn0l4Wo <-->
    <link rel="stylesheet" href="{% static 'core/bootstrap/dist/css/bootstrap.css' %}">
    <!-- dont touch this http://y2u.be/otCpCn0l4Wo <-->

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/lumen/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-DpS/eLfynIHe4VoTvBOlpX0ZpfGcdiVqiuGV1HMseFS7alAFrE8UaFtVuynuQ0Nn" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'core/datetimepicker/build/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{{ STATIC_URL }}core/data_table/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}core/stars/star-rating-svg.css">

    <script src="{% static 'core/jquery/dist/jquery.js' %}"></script>


    {{ form.media.css }}
    {{ form.media.js }}

    {% block head %}
    {% endblock %}

    <title>
        {% if title %}{{ title }} | {% endif %}iqOffer.com - {% trans '№1 IT services platform for business' %}</title>
<body>

{% block navbar %}

    <div class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
        <div class="container" style="max-width: 1300px;">
            <a href="{% url 'index' %}" class="navbar-brand">

                <img src="{% static "core/img/logo.png" %}" height="40" alt="iqoffer.com">

            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'full_service_list' %}">{% trans "All services" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_list' %}">{% trans "Requests" %}</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                    {% if request.user.is_authenticated %}

                        {% if request.user.is_customer %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'my_order_list' %}">{% trans "My requests" %}
                                    {% if order_new_messages_count %}
                                        ({{ order_new_messages_count }})
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'services_responses' %}">{% trans "Services responses" %}
                                    {% if service_new_messages_count %}
                                        ({{ service_new_messages_count }})
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                        {% if request.user.is_provider %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'offer_list' %}">{% trans "My responses" %}
                                    {% if order_new_messages_count %}
                                        ({{ order_new_messages_count }})
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'service_list' %}">{% trans "My services" %}
                                    {% if service_new_messages_count %}
                                        ({{ service_new_messages_count }})
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'new_list' %}">{% trans "News" %}</a>
                        </li>
                
                    {% if request.user.is_authenticated %}

                        {% comment %}    <li class="nav-item">
                            <a class="nav-link" href="{% url 'dialog_list' %}">
                                {% trans 'Messages' %}<span class=" v-align-middle"
                                                            id="messages_count">
                                {% if new_messages_count %}({{ new_messages_count }}){% endif %}
                            </span>
                            </a>
                        </li>{% endcomment %}

                        {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/#" id="dropdown02"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">{{ request.user }} (FREE)</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown02">
                                <a class="dropdown-item"
                                   href="{% url 'profile' request.user.id %}">{% trans "Profile" %}</a>
                                {% if request.user.is_staff %}
                                    <a class="dropdown-item"
                                       href="{% url 'admin:index' %}">{% trans "Admin page" %}</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'profile_settings' %}">{% trans "Settings" %}</a>
                                <a class="dropdown-item" href="{% url 'tariff' %}">{% trans "Tariff" %}</a>
                                <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                                {% if request.LANGUAGE_CODE == 'ru' %}
                                    <a class="dropdown-item" href="https://iqoffer.useresponse.com/">Есть идея?</a>
                                {% else %}
                                    <a class="dropdown-item" href="https://iqoffer.useresponse.com/">Post an idea</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                            </div>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">{% trans "Sign in" %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registration' %}">{% trans "Sign up" %}</a>
                        </li>
                    {% endif %}

                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-globe"></i>
                            {% if reqeust.user.is_authenticated %}
                                {{ request.user.selected_lang }}
                            {% else %}
                                {{ LANGUAGE_CODE }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">

                            {% for language in languages %}
                                <a class="dropdown-item"
                                   href="{% url 'change_language' %}?lang={{ language.code }}">{{ language.name_local }}
                                    ({{ language.code }})</a>
                            {% endfor %}
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'faq' %}">
                            <i class="fa fa-question"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


{% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
            <div class="alert
            {% if message.tags == 'info' %}
            alert-primary
            {% elif message.tags == 'warning' %}
            alert-danger
            {% elif message.tags == 'success' %}
            alert-success
            {% endif %}
            alert-dismissible fade show text-center" role="alert">
                {% trans message.message|urlize %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}


{% block content_container %}
    <div class="container mt-3 mb-3 pt-0" id="content" style="flex: 1">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

<footer class="container-fluid d-flex" style="background-color: #ecf0f1">
    <div class="container">
        <p class="float-right m-0"><a href="#">{% trans 'Back to top' %}</a></p>
        <p class="m-0">© 2019 iqOffer, Inc
            &middot; <a href="{% url 'privacy' %}">{% trans 'Privacy' %} </a>
            &middot; <a href="{% url 'terms' %}">{% trans 'Terms' %}</a>
            &middot; <a href="{% url 'registration' %}?provider=yes">{% trans 'Become IT-provider' %}</a>
        </p>

    </div>
</footer>

<div class="modal" tabindex="-1" role="dialog" id="category_subcategory_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'core/tether/dist/js/tether.min.js' %}"></script>
<script src="{% static 'core/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/fontawesome/fontawesome-all.js' %}"></script>
<script src="{% static 'core/datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{{ STATIC_URL }}core/js/bootstrap-fileselect.js"></script>
<script src="{{ STATIC_URL }}core/data_table/datatables.min.js"></script>
<script src="{{ STATIC_URL }}core/data_table/dataTables.bootstrap4.min.js"></script>
<script src="{{ STATIC_URL }}core/js/main.js"></script>
<script src="{{ STATIC_URL }}core/js/categories_selector.js"></script>
<script src="{{ STATIC_URL }}core/stars/jquery.star-rating-svg.js"></script>
<script src="{{ STATIC_URL }}core/js/messages.js"></script>

<script>
    languageCode = '{{request.LANGUAGE_CODE}}';
    categoriesSelector = new CategoriesSelector({'url': "{% url 'get_categories_selector' %}"});

    $(document).ready(function () {
        initDTPicker({'languageCode': languageCode});

        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();

        $('input[type=file]').each(function () {
            $(this).fileselect({'language': languageCode});
        });

        $(".rating").each(function () {
            $(this).starRating({
                starSize: 16,
                ratedColor: 'gold',
                initialRating: $(this).data('rating'),
                readOnly: true
            });
        });
    })
</script>

{% block js %}
{% endblock js %}

<script>
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5bed75af70ff5a5a3a7252a5/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
</body>
</html>