{% extends 'core/base.html' %}

{% block content_container %}
    <div class="ml-2 mr-2">
    <h1 class="display-5">{{ title }}</h1>
    <hr>

    <h2>Invites</h2>
    <hr>

    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th colspan="2">Successful</th>
            <th colspan="2">Waiting(< 7 days)</th>
            <th colspan="2">Fail(> 7 days)</th>
        </tr>
        <tr>
            <th>Admin</th>
            <th>Site</th>
            <th>Admin</th>
            <th>Site</th>
            <th>Admin</th>
            <th>Site</th>
        </tr>
        </thead>

        <tbody class="text-center">
        <tr>
            <td class="toggle-table btn-outline-primary" data-target="#successful_admin_invites">{{ successful_admin_invites|length }}<span
                    class="hidden">{% for pre_user in successful_admin_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
            <td class="toggle-table btn-outline-primary" data-target="#successful_site_invites">{{ successful_site_invites|length }}<span
                    class="hidden">{% for pre_user in successful_site_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
            <td class="toggle-table btn-outline-primary" data-target="#waiting_admin_invites">{{ waiting_admin_invites|length }}<span
                    class="hidden">{% for pre_user in waiting_admin_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
            <td class="toggle-table btn-outline-primary" data-target="#waiting_site_invites">{{ waiting_site_invites|length }}<span
                    class="hidden">{% for pre_user in waiting_site_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
            <td class="toggle-table btn-outline-primary" data-target="#failed_admin_invites">{{ failed_admin_invites|length }}<span
                    class="hidden">{% for pre_user in failed_admin_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
            <td class="toggle-table btn-outline-primary" data-target="#failed_site_invites">{{ failed_site_invites|length }}<span
                    class="hidden">{% for pre_user in failed_site_invites %}
                {{ pre_user.email }} {% endfor %}</span></td>
        </tr>
        </tbody>
    </table>

    <div id="successful_admin_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=successful_admin_invites %}
    </div>

    <div id="successful_site_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=successful_site_invites %}
    </div>

    <div id="waiting_admin_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=waiting_admin_invites %}
    </div>

    <div id="waiting_site_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=waiting_site_invites %}
    </div>

    <div id="failed_admin_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=failed_admin_invites %}
    </div>

    <div id="failed_site_invites" class="toogled-table hidden">
        {% include 'core/dashboard/pre_users_table.inc.html' with pre_users=failed_site_invites %}
    </div>


    <h2>Requests</h2>
    <hr>

    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th>Total requests</th>
            <th>Draft requests</th>
            <th>Successful requests</th>
            <th>Fail requests</th>
            <th>Published requests</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
            <td>{{ total_orders_count }}</td>
            <td>{{ draft_orders|length }}</td>
            <td>{{ successful_orders|length }}</td>
            <td>{{ fail_orders|length }}</td>
            <td>{{ published_orders|length }}</td>
        </tr>
        </tbody>
    </table>

    <h2>Requests cities responses</h2>
    <hr>

    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th>City</th>
            <th>Responses</th>
        </tr>
        </thead>
        <tbody class="text-center">

        {% for city, responses in orders_cities_responses.items %}
            {% if responses %}
                <tr>
                    <td>
                        {{ city }}
                    </td>
                    <td>
                        {{ responses }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <h2>Requests countries responses</h2>
    <hr>

    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th>Country</th>
            <th>Responses</th>
        </tr>
        </thead>
        <tbody class="text-center">

        {% for country, responses in orders_countries_responses.items %}
            {% if responses %}
                <tr>
                    <td>
                        {{ country }}
                    </td>
                    <td>
                        {{ responses }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <h2>Requests categories/subcategories</h2>
    <hr>
    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th>Total categories/subcategories in requests</th>
            <td colspan="3">
                {{ total_categories_orders }}/{{ total_subcategories_orders }}
            </td>
        </tr>
        <tr>
            <th>Category/Subcategory</th>
            <th>Average lifetime</th>
            <th>Budgets from</th>
            <th>Budgets to</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for name, data in categories_subcategories_data.items %}
            <tr>
                <td class="v-align-middle">
                    {{ name }}
                </td>
                <td class="v-align-middle">
                    {{ data.average_lifetime }}
                </td>
                <td class="v-align-middle">
                    <div class="row m-0">
                        {% for budget in data.budgets_from %}
                            <div class="col-4 p-0"><b>{{ forloop.counter }}.</b> {{ budget|default_if_none:'-----' }}
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="v-align-middle">
                    <div class="row m-0">
                        {% for budget in data.budgets_to %}
                            <div class="col-4 p-0"><b>{{ forloop.counter }}.</b> {{ budget|default_if_none:'-----' }}
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Hosting configurations</h2>
    <hr>
    <table class="table table-bordered mb-3">
        <thead class="text-center">
        <tr>
            <th>Request</th>
            <th>Configuration</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for order, confs  in hosting_configurations.items %}
            <tr>
                <td class="v-align-middle">{{ order }}</td>
                <td class="v-align-middle">
                    <div class="row m-0">
                        {% for conf in confs %}
                            <div class="col-3 p-0"><b>{{ forloop.counter }}. {{ conf.0 }}:</b> {{ conf.1 }}</div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('table').dataTable({
                "paging": false,
                "info": false
            })
        });

        $(document).on('click', '.toggle-table', function () {
            var target = $(this).data('target');
            $('.toogled-table').hide();
            var activeClass = 'bg-primary text-white';

            if (!$(this).hasClass(activeClass)) {
                $('.toggle-table').removeClass(activeClass);
                $(this).addClass(activeClass);
                $(target).show();
            }
            else {
                $('.toggle-table').removeClass(activeClass);
                $(target).hide();
            }
        })
    </script>
{% endblock js %}