{% extends 'core/base.html' %}

{% block content %}
    <h1 class="display-5">{% trans 'Frequently Asked Questions' %}</h1>
    <hr>
    {% for faq in faqs %}
        <div class="card mb-3">
            <div class="card-header" style="cursor: pointer">
                <h4 class="m-0">{{ faq.question }}</h4>
            </div>
            <div class="card-body fs-15" style="display: none">
                {{ faq.answer|safe }}
            </div>
        </div>

    {% endfor %}
{% endblock content %}

{% block js %}
    <script>
    $(document).ready(function () {
        $('.card-header').click(function () {
            $(this).parent().find('.card-body').toggle('medium')
        })
    })
    </script>

{% endblock js %}