{% if sliders %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slider in sliders %}
            <li class="{% if forloop.first %}active{% endif %}" data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for slider in sliders %}
            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <img class="slider-image img-fluid hidden-md-down" src="{{ slider.image.url }}">
                <div class="container-fluid">
                    <div class="slider-container container py-2">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 text-lg-left text-md-center text-sm-center">
                                <h1 class="mt-4 mb-4">{{ slider.header }}</h1>
                                <h5 class="mb-4">{{ slider.description }}</h5>
                                <a href="{% url slider.action_to %}?{{ slider.query_string }}" class="btn btn-success p-2 mb-3">
                                    {{ slider.action_text }}
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa fa-arrow-alt-circle-left text-dark fs-30 mr-5" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fa fa-arrow-alt-circle-right text-dark fs-30 ml-5" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>

{% endif %}