{% extends 'core/index.base.html' %}
{% load bootstrap4 %}

{% block js %}
    {{ block.super }}
    <script>
            function initTypedHeader() {
                return new Typed(".typed-header", {
                    strings: ["Easy way to get best offers for"],
                    // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                    stringsElement: null,
                    // typing speed
                    typeSpeed: 80,
                    // time before typing starts
                    startDelay: 0,
                    // backspacing speed
                    backSpeed: 40,
                    // time before backspacing
                    backDelay: 800,
                    // loop
                    loop: false,
                    // false = infinite
                    loopCount: 5,
                    // show cursor
                    showCursor: true,
                    // character for cursor
                    cursorChar: "&nbsp;",
                    // attribute to type (null == text)
                    attr: null,
                    // either html or text
                    contentType: 'html',
                    // call when done callback function
                    onComplete: function() {
                        initTypedText();
                        $('.typed-cursor:first').hide();
                    },
                });
            }
            function initTypedText() {
                return new Typed(".typed-text", {
                    strings: ["CRM", "IT-outsourcing","Anti-DDoS", "Cloud hosting", "VPS/VDS", "ERP", "Microsoft software", "SaaS", "any other IT services  👍"],
                    // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                    stringsElement: null,
                    // typing speed
                    typeSpeed: 80,
                    // time before typing starts
                    startDelay: 0,
                    // backspacing speed
                    backSpeed: 40,
                    // time before backspacing
                    backDelay: 800,
                    // loop
                    loop: false,
                    // false = infinite
                    loopCount: 5,
                    // show cursor
                    showCursor: true,
                    // character for cursor
                    cursorChar: "&nbsp;",
                    // attribute to type (null == text)
                    attr: null,
                    // either html or text
                    contentType: 'html',
                });
            }

            $(document).ready(function(){
                initTypedHeader();
            })

    </script>
{% endblock js %}

{% block content_container %}
    {% include 'core/index.slider.include.html' %}

    <div class="video-container" style="background: url('{{ STATIC_URL }}core/img/index-background.png')">
{#        <video class="w-100" autoplay muted loop id="indexVideo">#}
{#            <source src="{{ STATIC_URL }}core/img/index.mp4" type="video/mp4">#}
{#        </video>#}


        <div class="text-center index-content" style="padding: 90px 0;">

            <h1 class="mb-5"><span class="typed-header"></span>&nbsp;<span class="typed-text"></span></h1>

            <a class="text-center btn btn-success mb-5" href="{% url 'order_create' %}">GET STARTED. IT`S FREE.</a>

            <p style="max-width: 500px; margin: 0 auto; text-align: center;">
                iqOffer – is the #1 IT offers platform that allows you to get best IT solutions from all providers.
                This is the place where all providers complete with each other to become your provider.
            </p>
        </div>
    </div>

    <div class="container">

        <h2 class="text-center" style="padding: 40px 0">
            Place An Order For The Following Services
        </h2>

        <div class="row text-center">
            {% for order in orders %}
                <div class="col-lg-4 col-md-4 col-sm-6 service" style="margin-bottom: 60px;">
                    <img width="150" height="150" src="{{ order.preview.url }}">
                    <h4 class="mt-3">
                        {{ order.name }}
                    </h4>
                    <div class="card  service-card">
                        <div class="card-header">
                            <h4 class="m-0">
                                {{ order.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ order.description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'order_create' %}?category={{ order.category.id }}&subcategory={{ order.sub_category.id }}&from_index=1"
                                   class="btn btn-success p-2">Submit request for free</a>
                            {% else %}
                                <a href="{% url 'registration' %}?next={% url 'order_create' %}&category={{ order.category.id }}&subcategory={{ order.sub_category.id }}&from_index=1"
                                   class="btn btn-success p-2">Submit request for free</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col-12 mt-5 mb-5">
                <a href="{% url 'full_service_list' %}" class="btn btn-success btn-lg">
                    More services
                </a>
            </div>
        </div>
    </div>

    <div class="text-center" style="background-color: #ecf0f1; padding: 60px 0 40px;">
        <div class="container">
            <h2 style="margin-bottom: 60px;">
                How it works
            </h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="ml-5 rounded"
                         src="{{ STATIC_URL }}core/img/how_it_works/1.svg">
                    <br/>
                    <br/>

                    <h4>Submit request</h4>
                    <p>Select category, budget, decription and submit your request.</p>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded" src="{{ STATIC_URL }}core/img/how_it_works/2.svg">
                    <br/>
                    <br/>

                    <h4>Choose best offer</h4>
                    <p>Choose you provider based on the most attractive offer and rating.</p>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded" src="{{ STATIC_URL }}core/img/how_it_works/3.svg">
                    <br/>
                    <br/>

                    <h4>Work with your provider</h4>
                    <p>Work with services you get, pay for it</p>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded" src="{{ STATIC_URL }}core/img/how_it_works/4.svg">
                    <br/>
                    <br/>

                    <h4>Leave your feedback</h4>
                    <p>Like your provider or dislike - leave your feedback anyway</p>

                </div>
            </div>
        </div>
    </div>

    <div class="" style="margin: 60px auto">

        <h1 class="text-center" style="margin-bottom: 60px;">

            iqOffer features

        </h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/1.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Fast and free</h4>
                            <p>Choose any service from our catalog, submit an application and receive offers from IT
                                providers in one place. All you have to do is choose the provider that suits your
                                preferences.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/2.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Reliable</h4>
                            <p>
                                Hide the visibility of your application for unauthorized users, hide the visibility
                                of
                                rates for providers. We check every provider.
                            </p>


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/4.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Consultation</h4>
                            <p>
                                In the case of difficulties in choosing an provider, the difficulties associated
                                with
                                writing requests, the complexity of choosing certain solutions and other
                                difficulties, our specialists are always in touch and are happy to provide free
                                consultation.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/5.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Rating</h4>
                            <p>Based on the closed orders, as well as customer feedback, we form the rating of
                                providers, which allows making the choice more simple and convenient.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/6.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Chat</h4>
                            <p>
                                To clarify the details of your request or get answers to the questions you are
                                interested in, use the built-in chat with the potential provider.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/8.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Flexible search filter</h4>
                            <p>
                                Use a convenient search to filter services and providers to suit your personal
                                preferences.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/9.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Independent Reviews</h4>
                            <p>
                                Weekly, we publish independent reviews and tests of providers. Reviews are based on
                                our customers votes and feedback.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/10.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">

                            <h4>Tech support</h4>
                            <p>
                                If you need the help of our technical specialists, which goes beyond free
                                consultations,
                                we'll be happy to help you. Our tech specialists got high competence and are tested
                                for
                                professional suitability.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top: 20px">
                    <h1 class="text-center mb-0">

                        Invite your friends/collegues to iqOffer

                    </h1>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
                    <hr>
                    <form id="invite_form" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <span class="mr-2">

                                            You want to invite:

                                    </span>
                                    <div class="form-check form-check-inline m-0 mr-2">
                                        <input class="form-check-input" type="radio" name="perm"
                                               id="id_perm_0" value="is_provider" required
                                                {% if invite_form.perm.value == 'is_provider' %} checked {% endif %}>
                                        <label class="form-check-label p-0" for="id_perm_0">
                                            {% trans 'IT Provider' %}
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline m-0">
                                        <input class="form-check-input" type="radio" name="perm"
                                               id="id_perm_1" value="is_customer"
                                                {% if invite_form.perm.value == 'is_customer' %} checked {% endif %}>
                                        <label class="form-check-label p-0" for="id_perm_1">
                                            {% trans 'Customer' %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.from_username %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.from_email %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.recipient_name %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.email %}</div>
                        </div>
                        <div class="text-muted small">
                            This form is protected by reCAPTCHA and the Google
                            <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                        </div>
                        <hr class="">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success col-3">
                                {% trans 'Invite' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div style="height: 100px; background-color: #ecf0f1;">
        <div class="container" style="padding: 60px 0">
            <div class="row">
            </div>
        </div>

    </div>

    <div class="text-center" style="background-color: #ecf0f1; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3>27</h3>

                    <p>
                        Categories
                    </p>
                </div>
                <div class="col-4">
                    <h3>84</h3>
                    <p>
                        Subcategories
                    </p>
                </div>
                <div class="col-4">
                    <h3>145</h3>
                    <p>
                        Business categories
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="text-center" style="padding: 80px 0;">
        <div class="container">
            <h2 style="margin-bottom: 20px;">
                Easy way to get personal IT services offers for your business.
            </h2>
            <p style="margin-bottom: 20px;">

                More than 1000+ IT-providers are waiting for your request. Yes, it's free.
                Forever.
            </p>

            <a href="{% url 'order_create' %}" class="btn btn-success">Submit request for free</a>
        </div>
    </div>

{% endblock content_container %}
