{% extends 'core/base.html' %}

{% block js %}
    <script src="{{ STATIC_URL }}core/js/typed.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ captcha_key }}"></script>
    <script>

        var $inviteForm = $('#invite_form');

        $(document).ready(function () {
            grecaptcha.ready(function () {
                grecaptcha.execute('{{ captcha_key }}', {action: 'preuser_invite'}).then(function (token) {
                    $inviteForm.prepend('<input type="hidden" name="token" value="' + token + '">');
                });
            });
        })

    </script>

    <script>
        $('.service').each(function () {
            $(this).hover(function () {
                $(this).find('div').show().css('opacity', '1')
            });
            $(this).mouseleave(function () {
                $(this).find('div').css('opacity', '0').hide()
            })
        })
    </script>
{% endblock js %}