{% extends 'core/index.base.html' %}
{% load bootstrap4 %}

{% block js %}
    {{ block.super }}
    <script>
            function initTypedHeader() {
                return new Typed(".typed-header", {
                    strings: ["Легкий способ получить лучшие предложения на"],
                    // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                    stringsElement: null,
                    // typing speed
                    typeSpeed: 80,
                    // time before typing starts
                    startDelay: 0,
                    // backspacing speed
                    backSpeed: 40,
                    // time before backspacing
                    backDelay: 800,
                    // loop
                    loop: false,
                    // false = infinite
                    loopCount: 5,
                    // show cursor
                    showCursor: true,
                    // character for cursor
                    cursorChar: "&nbsp;",
                    // attribute to type (null == text)
                    attr: null,
                    // either html or text
                    contentType: 'html',
                    // call when done callback function
                    onComplete: function() {
                        initTypedText();
                        $('.typed-cursor:first').hide();
                    },
                });
            }
            function initTypedText() {
                return new Typed(".typed-text", {
                    strings: ["CRM", "ИТ-аутсорсинг","Anti-DDoS", "Cloud hosting", "VPS/VDS", "ERP", "Microsoft software", "SaaS","любые другие ИТ услуги 👍"],
                    // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                    stringsElement: null,
                    // typing speed
                    typeSpeed: 80,
                    // time before typing starts
                    startDelay: 0,
                    // backspacing speed
                    backSpeed: 40,
                    // time before backspacing
                    backDelay: 800,
                    // loop
                    loop: false,
                    // false = infinite
                    loopCount: 5,
                    // show cursor
                    showCursor: true,
                    // character for cursor
                    cursorChar: "&nbsp;",
                    // attribute to type (null == text)
                    attr: null,
                    // either html or text
                    contentType: 'html',
                });
            }

            $(document).ready(function(){
                initTypedHeader();
            })

    </script>
{% endblock js %}

{% block content_container %}
    {% include 'core/index.slider.include.html' %}

    <div class="video-container" style="background: url('{{ STATIC_URL }}core/img/index-background.png')">

        <div class="text-center" style="padding: 80px 0;">

            <h1 class="mb-5"><span class="typed-header"></span>&nbsp;<span class="typed-text"></span></h1>

            <a class="text-center btn btn-success mb-5" href="{% url 'order_create' %}">Начать. Это бесплатно.</a>

            <p style="max-width: 500px; margin: 0 auto; text-align: center;">
                iqOffer –это первая платформа IT услуг для B2B, которая позволяет Вашей компании получать лучшие
                предложения на ИТ услуги от 1000+ провайдеров ИТ сервисов. Это место, где ИТ провайдеры борются за Вашу
                заявку предлагая лучшие условия.
            </p>
        </div>

    </div>

    <div class="container">

        <h2 class="text-center" style="padding: 40px 0">
            Разместить заказ на следующие услуги
        </h2>

        <div class="row text-center">
            {% for order in orders %}
                <div class="col-lg-4 col-md-4 col-sm-6 service" style="margin-bottom: 60px;">
                    <img width="150" height="150" src="{{ order.preview.url }}">
                    <h4 class="mt-3">
                        {{ order.name }}
                    </h4>

                    <div class="card  service-card">
                        <div class="card-header">
                            <h4 class="m-0">
                                {{ order.name }}
                            </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ order.description }}
                            </p>
                        </div>
                        <div class="card-footer">
                            {% if request.user.is_authenticated %}

                                <a href="{% url 'order_create' %}?category={{ order.category.id }}&subcategory={{ order.sub_category.id }}&from_index=1"
                                   class="btn btn-success p-2">Отправить заявку бесплатно</a>

                            {% else %}
                                <a href="{% url 'registration' %}?next={% url 'order_create' %}&category={{ order.category.id }}&subcategory={{ order.sub_category.id }}&from_index=1"
                                   class="btn btn-success p-2">Отправить заявку бесплатно</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12 mt-5 mb-5">
                <a href="{% url 'full_service_list' %}" class="btn btn-success btn-lg">
                    Больше услуг
                </a>
            </div>
        </div>
    </div>


    <div class="text-center" style="background-color: #ecf0f1; padding: 60px 0 40px;">
        <div class="container">
            <h2 style="margin-bottom: 60px;">
                Как это работает?
            </h2>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="ml-5 rounded"
                         src="{{ STATIC_URL }}core/img/how_it_works/1.svg">
                    <br/>
                    <br/>
                    <h4>Отправьте заявку</h4>
                    <p>Выберите категорию/подкатегорию, бюджет. Опишите задачу и отправьте заявку.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded"
                         src="{{ STATIC_URL }}core/img/how_it_works/2.svg">
                    <br/>
                    <br/>
                    <h4>Выберите лучшее предложение</h4>
                    <p>Выберите понравившегося провайдера, чье предложение и рейтинг лучше.</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded"
                         src="{{ STATIC_URL }}core/img/how_it_works/3.svg">
                    <br/>
                    <br/>
                    <h4>Начните работать с провайдером</h4>
                    <p>Пользуйтесь услугами выбранного провайдера</p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <img width="150" height="150" class="rounded"
                         src="{{ STATIC_URL }}core/img/how_it_works/4.svg">
                    <br/>
                    <br/>
                    <h4>Оставьте свой отзыв</h4>
                    <p>Понравился провайдер или нет? Оставьте свой отзыв.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="" style="margin: 60px auto">

        <h1 class="text-center" style="margin-bottom: 60px;">
            Преимущества iqOffer
        </h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/1.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Быстро и бесплатно</h4>
                            <p>Выберете любую услугу из нашего каталога, отправьте заявку и получите предложения
                                от
                                всех поставщиков в одном месте. Все, что вам нужно сделать, это выбрать
                                поставщика,
                                который соответствует вашим предпочтениям.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/2.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Надежно</h4>
                            <p>
                                Скройте видимость вашей заявки для неавторизованных пользователей, скройте
                                видимость
                                ставок для провайдеров. Мы проверяем каждого поставщика.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/4.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Консультации</h4>
                            <p>
                                В случае возникновения трудностей в выборе провайдера, трудностей, связанных с
                                написанием заявки, сложностей в выборе того или иного решения и др., наши
                                специалисты всегда на связи и рады предоставить бесплатную консультацию.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/5.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Рейтинг</h4>
                            <p>На основании завершенных заявок, а также отзывов заказчиков, мы формируем рейтинг
                                провайдеров, что позволяет сделать выбор более простым и удобным.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/6.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Чат</h4>
                            <p>
                                Для уточнения деталей вашего запроса или получения ответов на интересующие вас
                                вопросы воспользуйтесь встроенным чатом с потенциальным провайдером.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/8.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Гибкий поиск</h4>
                            <p>
                                Используйте удобный поиск для фильтрации услуг и поставщиков в соответствии с
                                вашими
                                предпочтениями.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/9.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Независимые обзоры</h4>
                            <p>
                                Еженедельно мы публикуем независимые обзоры и тесты ИТ провайдеров, которые
                                основаны
                                на отзывах наших пользователей и наших тестах.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" style="margin-bottom: 40px;">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-12 text-center mb-sm-3 mb-lg-0 mb-md-0">
                            <img width="150px" height="150px" class="rounded"
                                 src="{{ STATIC_URL }}core/img/features/10.svg">
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12 text-sm-center text-lg-left text-md-left">
                            <h4>Поддержка</h4>
                            <p>
                                Если вам нужна помощь наших технических специалистов, которая выходит за рамки
                                бесплатных консультаций, мы будем рады вам помочь. Наши технические специалисты
                                обладают высокой компетенцией и проходят проверку на профессиональную
                                пригодность.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12" style="margin-top: 20px">
                    <h1 class="text-center mb-0">
                        Пригласите Ваших друзей/коллег
                    </h1>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 offset-lg-3">
                    <hr>
                    <form id="invite_form" method="post" enctype="multipart/form-data" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <span class="mr-2">
                                            Пригласить в качестве:
                                    </span>
                                    <div class="form-check form-check-inline m-0 mr-2">
                                        <input class="form-check-input" type="radio" name="perm"
                                               id="id_perm_0" value="is_provider" required
                                                {% if invite_form.perm.value == 'is_provider' %}
                                               checked {% endif %}>
                                        <label class="form-check-label p-0" for="id_perm_0">
                                            {% trans 'IT Provider' %}
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline m-0">
                                        <input class="form-check-input" type="radio" name="perm"
                                               id="id_perm_1" value="is_customer"
                                                {% if invite_form.perm.value == 'is_customer' %}
                                               checked {% endif %}>
                                        <label class="form-check-label p-0" for="id_perm_1">
                                            {% trans 'Customer' %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.from_username %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.from_email %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.recipient_name %}</div>
                            <div class="col-lg-6 col-md-6 col-sm-12">{% bootstrap_field invite_form.email %}</div>
                        </div>

                        <div class="text-muted small">
                            Эта форма защищена reCAPTCHA и Google
                            <a href="https://policies.google.com/privacy">Политика Конфиденциальности</a> и
                            <a href="https://policies.google.com/terms">Условия Обслуживания</a>.
                        </div>
                        <hr>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success col-3">
                                {% trans 'Invite' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div style="height: 100px; background-color: #ecf0f1;">
        <div class="container" style="padding: 60px 0">
            <div class="row">
            </div>
        </div>
    </div>

    <div class="text-center" style="background-color: #ecf0f1; padding-bottom: 80px;">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3>27</h3>

                    <p>
                        Категорий
                    </p>
                </div>
                <div class="col-4">
                    <h3>84</h3>
                    <p>
                        Подкатегорий
                    </p>
                </div>
                <div class="col-4">
                    <h3>145</h3>
                    <p>
                        Бизнес категорий
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center" style="padding: 80px 0;">
        <div class="container">
            <h2 style="margin-bottom: 20px;">
                Легкий способ получить индивидуальные предложения на ИТ услуги для Вашего бизнеса.
            </h2>
            <p style="margin-bottom: 20px;">
                Более 1000+ ИТ провайдеров ждут Вашей заявки. Это бесплатно. Навсегда.
            </p>

            <a href="{% url 'order_create' %}" class="btn btn-success">Отправить заявку бесплатно</a>
        </div>
    </div>


{% endblock content_container %}