{% extends 'core/base.html' %}

{% block content %}
    <h2>Privacy</h2>
    <hr/>
    {{ privacy.text|safe }}
    <hr/>
    {% for file in privacy.files.all %}
        {{ file.description }}: <a href="{{ file.file.url }}">Download</a>
        <br/>
    {% endfor %}
{% endblock content %}
