{% extends 'core/base.html' %}

{% block content %}
    <h2>Terms</h2>
    <hr/>
    {{ term.text|safe }}
    <hr/>
    {% for file in term.files.all %}
        {{ file.description }}: <a href="{{ file.file.url }}">Download</a>
        <br/>
    {% endfor %}
{% endblock content %}
