{% load static %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">


        <div class="d-flex align-items-center">
            <img class="rounded-circle"
                 src="{% if new.created_by.avatar %}{{ new.created_by.avatar.url }}
                                           {% else %}{% static 'core/img/avatar.png' %}{% endif %}"
                 width="60" height="60" alt="">
            <strong class="ml-2">{{ new.created_by.username }}</strong>
            <span class="ml-auto">{{ new.published_at|date }}</span>
        </div>
        <hr>
        <div class="news">
            <a href="{% url 'new_detail' new.slug %}">
                <h3 class="fw-400">{{ new.title }}</h3>
            </a>
            <div>{{ new.short_text|safe }}</div>
        </div>
        {% if news_text %}
            <div class="row news">
                <div class="col-12">
                    <div>{{ news_text|safe }}</div>
                </div>
            </div>
        {% endif %}
    </div>
</div>


