{% extends 'core/base2.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1 class="display-5">
        {{ title }}
    </h1>
    <hr>
    {% for new in news %}
        {% include 'core/news/container.html' %}
    {% endfor %}

    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            {% bootstrap_pagination page_obj %}
        {% endif %}
    </div>

{% endblock content %}