<div class="jumbotron jumbotron-fluid">
    <h2>{% trans 'Contacts' %}</h2>
    <hr/>

    {% if can_see_contacts %}
        {% if user.contacts.has_any_contact %}
            {% if user.contacts.email %}
                <p><b>{% trans 'Email' %}:</b> {{ user.contacts.email|default:'------' }}</p>
            {% endif %}
            {% if user.contacts.skype %}
                <p><b>{% trans 'Skype' %}:</b> {{ user.contacts.skype|default:'------' }}</p>
            {% endif %}
            {% if user.contacts.phone %}
                <p><b>{% trans 'Phone' %}:</b> {{ user.contacts.phone|default:'------' }}</p>
            {% endif %}
            {% if user.contacts.telegram %}
                <p><b>{% trans 'Telegram' %}:</b> {{ user.contacts.telegram|default:'------' }}</p>
            {% endif %}
            {% if user.contacts.site %}
                <p><b>{% trans 'Website' %}:</b> {{ user.contacts.site|default:'------'|urlize }}</p>
            {% endif %}
        {% else %}
            <h5>{% trans 'User has no contacts yet' %}</h5>
        {% endif %}
    {% else %}
        <h5>{% trans 'Sorry, but you can`t see contacts' %}</h5>
    {% endif %}

</div>