<div class="jumbotron jumbotron-fluid">
    <div class="text-center">
        <img class="rounded-circle " style="width: 160px;"
             src="{% if user.avatar %}{{ user.avatar.url }}{% else %}//placehold.it/160x160{% endif %}"
             alt="">


        <p class="h4 mb-2 mt-2">
            <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
        </p>
    {% if user.country or user.city %}
        <p>
            {% if user.country %}{% trans user.country.name %}{% endif %}{% if user.city %},
                {% trans user.city.name %}{% endif %}
        </p>
    {% endif %}

        <h2>
            {% if user.is_provider %}
                {% trans 'Provider' %}
            {% elif user.is_customer %}
                {% trans 'Customer' %}
            {% else %}
                {% trans 'Stats' %}
            {% endif %}
        </h2>

        <div class="rating mt-1 text-center" data-rating="{{ user.rating }}">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-6 text-left">
            {% trans 'Registered at' %}
        </div>
        <div class="col-6 text-right">
            {{ user.date_joined|date }}
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6 text-left">
            {% trans 'Last online' %}
        </div>
        <div class="col-6 text-right">
            {{ user.last_online_at|date }}
        </div>
    </div>
    <div class="row mt-2 mb-0">
        <div class="col-6 text-left">
            {% trans 'Feedback' %}
        </div>
        <div class="col-6 text-right">
            <span class="posFeedback">+{{ user.get_positive_feedbacks.count }}/</span><span
                class="negFeedBack">-{{ user.get_negative_feedbacks.count }}</span>
        </div>
    </div>
</div>