{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}

{% block content %}
    <div class="row">

        <div class="col-lg-9 float">
            {% if user.is_customer and orders %}
                <div class="jumbotron jumbotron-fluid">
                    <h4>{% trans 'Requests' %} ({{ orders|length }})</h4>
                    <table class="table table-hover table-responsive w-100 d-block d-md-table">
                        <thead>
                        <tr class="text-center">
                            <th>{% trans 'Title' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Subcategory' %}</th>
                            <th>{% trans 'Offers' %}</th>
                            <th>{% trans 'Published on' %}</th>
                            <th>{% trans 'Deadline' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr class="text-center">
                                <td class="v-align-middle"><a
                                        href="{% url 'order_detail' order.id %}">{{ order.title }}</a></td>
                                <td class="v-align-middle"><span
                                        class="badge badge-{{ order.get_status_color }}">{{ order.get_status }}</span>
                                </td>

                                <td class="v-align-middle">{{ order.category }}</td>
                                <td class="v-align-middle">{{ order.subcategory.name }}</td>
                                <td class="v-align-middle">{{ order.offers.count }}</td>
                                <td class="v-align-middle">{{ order.published_at|date:'d.m.Y'|default_if_none:'------' }}</td>
                                <td class="v-align-middle">{{ order.offer_deadline|date:'d.m.Y' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}


            {% if user.is_provider and user.services.all %}
                <div class="jumbotron jumbotron-fluid">
                    <h4>{% trans 'Services' %} ({{ user.services.all|length }})</h4>
                    <table class="table table-hover table-responsive w-100 d-block d-md-table">
                        <thead>
                        <tr class="text-center">
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>{% trans 'Category' %}</th>
                            <th>{% trans 'Subcategory' %}</th>
                            <th>{% trans 'Business category' %}</th>
                            <th>{% trans 'Minimal cost' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in user.services.all %}
                            <tr class="text-center">
                                <td class="v-align-middle"><a
                                        href="{% url 'service' service.id %}">{{ service.name }}</a></td>
                                <td class="v-align-middle">{{ service.description|truncatewords:50 }}</td>
                                <td class="v-align-middle">{{ service.category }}</td>
                                <td class="v-align-middle">{{ service.subcategory.name }}</td>
                                <td class="v-align-middle">{{ service.business_category.name }}</td>
                                <td class="v-align-middle">{{ service.min_cost }}</td>
                            </tr>
                        {% empty %}
                            <tr class="text-center">
                                <td colspan="6">{% trans 'User has not added services yet' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if user.data_centers.all %}
                <div class="jumbotron jumbotron-fluid">
                    <h4>{% trans 'Data centers' %}</h4>
                    <table class="table table-hover table-responsive w-100 d-block d-md-table">
                        <thead>
                        <tr class="text-center">
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Country' %}</th>
                            <th>{% trans 'City' %}</th>
                            <th>{% trans 'Address' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for center in user.data_centers.all %}
                            <tr class="text-center">
                                <td class="v-align-middle">{{ center.name }}</td>
                                <td class="v-align-middle">{{ center.country }}</td>
                                <td class="v-align-middle">{{ center.city.name }}</td>
                                <td class="v-align-middle">{{ center.address }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% if user.feedbacks_received.all %}
                <div class="jumbotron jumbotron-fluid">
                    <h4>{% trans 'Received feedback' %}</h4>
                    <hr>
                    <div class="row">
                        {% for feedback in feedbacks %}
                            <div class="col-lg-6 col-md-12 col-sm-12">

                                <div class="card mb-3 {% if feedback.is_recommended %} border-success {% else %} border-danger{% endif %}">
                                    <div class="card-header">
                                        <h5 class="d-inline">{{ feedback.created_by }}</h5>
                                        <span class="float-right">{{ feedback.created_at }}</span>
                                        <div class="mt-1">{% trans 'Order' %}: <a
                                                href="{% url 'order_detail' feedback.order.id %}">{{ feedback.order }}</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-5 pr-0">
                                                <label>{% trans 'Compliance with deadlines' %}</label>
                                                <div class="rating mb-1" data-rating="{{ feedback.time }}">
                                                </div>
                                                <label>{% trans 'Quality of work' %}</label>
                                                <div class="rating mb-1" data-rating="{{ feedback.quality }}"></div>
                                                <label>{% trans 'Communication' %}</label>
                                                <div class="rating mb-1"
                                                     data-rating="{{ feedback.communication }}"></div>
                                            </div>

                                            <div class="col-7 pl-0">
                                                <label>{% trans 'Comment' %}</label>
                                                <hr class="mt-1 mb-1">
                                                <p class="card-text">{{ feedback.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if feedbacks.has_other_pages %}
                            <div class="col-12 d-flex justify-content-center">
                                {% bootstrap_pagination feedbacks %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-lg-3 float-right">
            {% include 'core/user/profile_card.inc.html' with user=user %}

            {% include 'core/user/profile_contacts.inc.html' with user=user can_see_contacts=True %}

        </div>
    </div>
{% endblock content %}