{% extends 'core/base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <div class="text-dark text-center">
                <div style="font-size: 90px">
                    {% block error_code %}
                    {% endblock error_code %}
                </div>
                <hr class="bg-white m-0">
                <div style="font-size: 20px">
                    {% block error_description %}
                    {% endblock error_description %}
                </div>
                <a href="{% url 'index' %}">
                    <button class="btn btn-default">Main page</button>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}