body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    padding-top: 15px;
    padding-bottom: 30px;
}

.jumbotron.jumbotron-fluid {
    padding: 20px;

}

.wrap-text {
    word-wrap: break-word;
    width: 100%
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
}

.nav-link {
    font-size: 0.90rem;
}

.jumbotron-fluid {
    background-color: white !important;
    border-radius: 4px !important;
    margin-bottom: 20px !important;
}

.sidebar {
    background-color: white !important;
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-25 {
    padding: 25px;
}

.sidebar, .jumbotron-fluid, .box {
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);*/
    -webkit-box-shadow: 1px 2px 5px 1px rgba(102, 102, 102, 0.6);
    -moz-box-shadow: 1px 2px 5px 1px rgba(102, 102, 102, 0.6);
    box-shadow: 1px 2px 5px 1px rgba(102, 102, 102, 0.6);
}

.col-3 {
    height: 100% !important;
}

.box {
    background-color: white !important;
    border-radius: 4px !important;
    margin-bottom: 15px !important;
}

#language_select {
    font-size: 0.90rem;
    box-shadow: none;
    background-image: none;
}

.my-message {
    background-color: rgba(0, 255, 0, 0.1);
}

.companion-message {
    background-color: rgba(0, 0, 255, 0.1);
}

.message {
    font-size: 18px;
}

#dialog {
    max-height: 85vh;
}

a {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none !important;
}

.container-as-link {
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none !important;
    color: #444;
    display: block;
}

.container-as-link:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.container-as-link.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.fs-11 {
    font-size: 11px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.v-align-middle {
    vertical-align: middle !important;
}

.notifications-window {
    min-height: 15rem;
    max-height: 15rem;
    min-width: 30rem;
    overflow-y: scroll;
}

.service-card {
    position: absolute !important;
    top: -25px !important;
    opacity: 0;
    display: none;
    z-index: 1 !important
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.fs-15 {
    font-size: 15px;
}

.navbar {
    border-style: solid;
    border-width: 3px 1px 3px 1px;
}

.posFeedback {
    color: green;
}

.negFeedBack {
    color: red
}

.rating {
    min-height: 21px;
}

#messages-box {
    overflow-y: scroll;
    max-height: 300px;
}


.grecaptcha-badge {
    display: none;
}

/*@media !*(min-width: 1400px) {*/
    /*.container {*/
        /*max-width: 1300px;*/
    /*}*/
/*}*!*/

.news p {
    margin-bottom: 0.25rem;
}

.hidden {
    display: none
}

.alert-danger a, .alert-success a {
    color: #ffffff;
    text-decoration: underline !important;
}

.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.4);
}

.carousel-indicators li.active {
    background-color: black;
}

.slider-container {
    min-height: 320px;
}

.slider-image {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.typed-cursor {
    border-right: 2px solid #222;
}

#indexVideo {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: -100;
}

.index-content {
}