{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}


{% block settings_content %}
    {% if form.non_field_errors %}
        <div class="alert alert-dismissible alert-danger">

            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">{% trans 'Attention' %}!</h4>
            {% for error in form.non_field_errors %}
                <p class="mb-0">{% trans error %}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.name %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.min_cost %}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.currency %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.country %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.city %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.category %}
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.subcategory %}
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                {% bootstrap_field form.business_category %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% bootstrap_field form.description %}
            </div>
        </div>

        {% if request.user.is_provider %}
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Preview</label>
                        {{ form.image }}
                    </div>
                </div>
            </div>
        {% endif %}
        <hr>
        <button type="submit" class="btn btn-success float-right">{% trans 'Submit' %}</button>
    </form>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            sub_id = parseInt('{{ form.subcategory.value|default_if_none:'' }}')
                || parseInt('{{ object.subcategory.id }}')
                || parseInt('{{ filter.form.subcategory.value }}')
                || parseInt('{{ request.GET.subcategory }}');
            category_id = $('#id_category option:selected').val() || parseInt('{{ request.GET.category }}');
            get_subs_url = '{% url "get_subcategories" %}';
        })
    </script>
    {% comment %}<script src="{{ STATIC_URL }}core/js/subcategory.js"></script>{% endcomment %}
    <script src="{{ STATIC_URL }}core/js/citiesManager.js"></script>
    <script>
        $(document).ready(function () {
            var citiesManager = new CitiesManager(
                {
                    'ajaxUrl': '{% url 'get_cities' %}',
                    'cityValue': '{{ form.city.value }}'
                })
        })
    </script>
{% endblock js %}