{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}


{% block settings_content %}
    <div class="clearfix d-flex align-items-center">
        <div class="ml-auto">
            <a class="btn btn-success btn-sm" href="{% url 'service_create' %}">{% trans 'Add new service' %}</a>
        </div>
    </div>
    <br/>

    {% if object_list %}
        <table class="table table-hover table-responsive-sm table-responsive-md">
            <thead>
            <tr class="text-center">
                <th scope="col">{% trans 'Title' %}</th>
                <th scope="col">{% trans 'Minimum cost' %}</th>
                <th scope="col">{% trans 'Category' %}</th>
                <th scope="col">{% trans 'Subcategory' %}</th>
                <th scope="col">{% trans 'Business category' %}</th>
                <th scope="col">{% trans 'Currency' %}</th>
                <th scope="col">{% trans 'Image' %}</th>
                <th scope="col">{% trans 'Actions' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr class="text-center">
                    <td scope="row"><a href="{% url 'service' object.id %}">{{ object.name }}
                    {% if object.get_new_messages %}
                                <span class="badge badge-success ml-1">{{ object.get_new_messages|length }}</span>
                            {% endif %}
                    </a>
                    </td>
                    <td>{{ object.min_cost }}</td>
                    <td>{% trans object.category.name %}</td>
                    <td>{% trans object.subcategory.name %}</td>
                    <td>{% trans object.business_category.name %}</td>
                    <td>{{ object.currency }}</td>
                    <td>{% if object.image %}<a href="{{ object.image.url }}">View</a>{% else %}------{% endif %}
                    </td>

                    <td><a href="{% url 'service_update' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url 'service_delete' pk=object.pk %}"><i class="fas fa-trash ml-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            {% if is_paginated %}
                <div class="col-10">
                    {% bootstrap_pagination page_obj %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}