<table class="table table-hover table-bordered mb-3">
    <thead class="text-center">
    <tr>
        <th>id</th>
        <th>from email</th>
        <th>from username</th>
        <th>email</th>
        <th>username</th>
        <th>from site</th>
        <th>customer</th>
        <th>provider</th>
        <th>user</th>
        <th>created</th>
    </tr>
    </thead>
    <tbody>
    {% for pre_user in pre_users %}
        <tr>
            <td>{{ pre_user.id }}</td>
            <td>{{ pre_user.from_email }}</td>
            <td>{{ pre_user.from_username }}</td>
            <td>{{ pre_user.email }}</td>
            <td>{{ pre_user.username }}</td>
            <td>{{ pre_user.from_site|yesno:'Yes, No' }}</td>
            <td>{{ pre_user.is_customer|yesno:'Yes, No' }}</td>
            <td>{{ pre_user.is_provider|yesno:'Yes, No' }}</td>
            <td>{{ pre_user.user|default:'' }}</td>
            <td>{{ pre_user.created_at }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>