{% load i18n %}

<div class="jumbotron jumbotron-fluid pl-3 pr-3">
    <div class="row">

        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-12 text-center">
                    {% if not order.show_contacts_only_for_winner or request.user == order.owner or request.user == order.winner %}
                        <img class="rounded-circle img-fluid" src="

                                {% if order.owner.avatar %}{{ order.owner.avatar.url }}{% else %}//placehold.it/150x150{% endif %}"
                             alt="">
                        <div style="margin-left: 1px" class="rating mt-1" data-rating="{{ order.owner.rating }}">
                        </div>
                        <span class="posFeedback">+{{ user.get_positive_feedbacks.count }}/</span><span
                            class="negFeedBack">-{{ user.get_negative_feedbacks.count }}</span>
                        <hr class="hidden-md-up">
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                            <b><a href="{% url 'profile' order.owner.id %}">{{ order.owner }}</a></b>
                            {% else %}
                            <img class="rounded-circle img-fluid" src="{{ STATIC_URL }}core/img/question.png">
                            <hr class="hidden-md-up">
                        </div>
                        <div class="col-lg-10 col-md-8 col-sm-12">
                        <b> {% trans 'Customer contact info will be available only to request winner' %}</b>
                    {% endif %}
                    <div>{% trans 'Published' %}: {{ order.published_at|date:'d.m.Y' }}</div>
                    <div>
                        {% trans 'Deadline' %}: {{ order.offer_deadline|date:'d.m.Y'|default:'------' }}</div>
                    <div>{% trans 'Budget' %} {% include 'core/order/budget.html' %}</div>
                    <div>{% trans 'Offers' %}: {{ order.offers.count }}</div>
                    <div class="mt-3">
                        <b>{{ order.title }}</b>
                        <hr class="mt-1 mb-1">
                        <div>{{ order.description|truncatewords:50 }}</div>
                    </div>
                    </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-12">
            <a href="{{ order.get_absolute_url }}"
               class="btn btn-secondary btn-sm btn-block">{% trans 'Details' %}</a>
            {% comment %} {% if request.user != order.owner and 'message' not in request.path %}
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary btn-sm btn-block mt-2"
                       href="{% url 'order_message_create' order.pk %}">{% trans 'Message' %}</a>
                {% else %}
                    <span class="d-block mt-2" data-placement="left" tabindex="0"
                          data-toggle="tooltip"
                          title="{% trans 'Registration required' %}">
                        <a style="pointer-events: none;" href="#"
                           class="btn btn-primary btn-sm btn-block">{% trans 'Message' %}</a>
                        </span>
                {% endif %}
            {% endif %}{% endcomment %}
        </div>

    </div>
</div>