{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}


{% block content %}
    {% if request.user.is_provider %}
        {% can_respond_order request.user order as can_respond_order %}
    {% endif %}
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 push-lg-9 push-md-8">
            {% if not order.show_contacts_only_for_winner or request.user == order.owner or request.user == order.winner %}

                {% include 'core/user/profile_card.inc.html' with user=order.owner %}

                {% if request.user == order.offer.user %}
                    {% if not order.has_customer_feedback %}
                        <a class="btn btn-primary btn-block btn-sm"
                           href="{% url 'order_feedback' order.id %}">{% trans 'Feedback' %}</a>
                    {% endif %}
                {% endif %}
                <hr class="hidden-md-up">

            {% else %}
                <div class="text-center">
                    <img style="width: 160px" class="img-fluid" src="{{ STATIC_URL }}core/img/question.png">
                </div>
                <h5 class="text-center mt-3">{% trans 'Customer contact info will be available only to request winner' %}</h5>
            {% endif %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 pull-lg-3 pull-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="clearfix">
                        <h1 class="mb-1 float-left">{{ order.title }}</h1>

                        {% if request.user.id == order.owner_id and not order.winner %}
                            <div class="float-right">
                                <a class="btn btn-outline-primary btn-sm"
                                   href="{% url 'order_update' order.id %}">{% trans 'Edit' %}</a>
                                <a class="btn btn-outline-danger btn-sm"
                                   href="{% url 'order_delete' order.id %}">{% trans 'Delete' %}</a>
                            </div>
                        {% endif %}

                    </div>

                    <div class="display-6 mb-1">{% trans order.category.name %}, {% trans order.subcategory.name %}</div>
                    <div>{% trans 'Request status' %}: <span
                            class="badge badge-{{ order.get_status_color }}">{{ order.get_status }}</span>
                    </div>

                    {% if order.was_published %}
                        <div>{% trans 'Published at' %}:
                            <b>{{ order.published_at }}</b>
                        </div>
                    {% endif %}
                    {% if order.offer_deadline %}
                        <div>{% trans 'Submit offer till' %}: <b>{{ order.offer_deadline }}</b></div>
                    {% endif %}
                    <div>{% trans 'Budget' %}
                        <b> {% include 'core/order/budget.html' %}</b>
                    </div>
                    {% if order.test_days %}
                        <div>{% trans 'Free test days' %}: <b>{{ order.test_days }}</b></div>
                    {% endif %}
                    <br/>
                    <p>{{ order.description }}</p>

                    {% if additional_fields %}
                        <br>
                        {% for additional_field in additional_fields %}
                            <p>{% trans additional_field.field.label %}: {{ additional_field.value }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if order.file %}
                        <br>
                        <b>{% trans 'Attached file' %}: <a href="{{ order.file.url }}">{% trans 'download' %}</a></b>
                        <br>
                    {% endif %}
                </div>

                {% if order.was_published %}
                    <div class="col-12">
                        <hr/>
                        {% if request.user == order.owner %}
                            {% if not order.offer %}
                                {% if not order.offers.all %}
                                    <div class="alert alert-warning text-center">
                                        {% trans 'No offers to display yet, please wait a bit. To speed up the search for an IT provider, you can use the “Invite” button' %}
                                        <a class="text-light" style="text-decoration: underline !important;"
                                           href="{% url 'full_service_list' %}?category={{ order.category.id }}&subcategory={{ order.subcategory.id }}">{% trans 'in services' %}</a>
                                    </div>
                                {% endif %}

                                {% if dialogs %}
                                    <hr>
                                    <h3 class="mb-3">{% trans 'Order responses' %}</h3>
                                    <hr>
                                {% endif %}
                                {% for recipient, messages_history in dialogs %}
                                    {% include 'core/messages/message_container.html' %}
                                {% endfor %}
                                <div class="d-flex justify-content-center">
                                    {% include 'core/messages/pagination.html' %}
                                </div>
                            {% else %}
                                <h3>{% trans 'Your IT provider' %}</h3>
                                <hr>
                                {% for recipient, messages_history in dialogs %}
                                    {% if recipient == order.winner %}
                                        {% include 'core/messages/message_container.html' %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% elif request.user.is_provider and provider_offer %}
                            <h2>{% trans 'Your offer' %}
                                {% if provider_offer != order.offer %}
                                    <a class="btn btn-sm btn-outline-danger float-right"
                                       href="{% url 'offer_delete' order.pk provider_offer.pk %}">
                                        {% trans 'Delete offer' %}
                                    </a>
                                {% endif %}

                            </h2>
                            <hr>
                            <div>
                                {% trans 'Offer status' %}:
                                {% if provider_offer.is_declined %}
                                    <span class="text-danger">{% trans 'Declined' %}</span>
                                {% elif provider_offer.order.winner == request.user %}
                                    <span class="text-success"><b>{% trans 'Accepted' %}</b></span>
                                {% elif provider_offer.order.winner == None %}
                                    <span class="text-warning">{% trans 'Under consideration' %}</span>
                                {% endif %}
                            </div>

                            <div>{% trans 'Budget proposal' %}: {{ provider_offer.amount }}</div>
                            <div>{% trans 'Covering letter' %}: {{ provider_offer.comment }}</div>
                            {% if provider_offer.file %}
                                {% trans 'Attached file' %}:
                                <a href="{{ provider_offer.file.url }}">{% trans 'download' %}</a>
                            {% endif %}
                            <hr/>
                        {% endif %}

                        {% if request.user.is_provider %}
                            <h3>{% trans 'Contact with customer' %}
                            </h3>
                            <hr>
                            {% include 'core/messages/message_container.html' with recipient=dialogs.0.0 messages_history=dialogs.0.1 %}
                            {% include 'core/messages/pagination.html' %}
                        {% endif %}
                    </div>
                {% endif %}
                {% if request.user.is_provider %}
                    {% if not order.deadline_mailed_at %}
                        <div class="col-12 d-flex justify-content-center">
                            {% if can_respond_order %}
                                {% if not provider_offer %}
                                    <button class="btn btn-lg btn-success"
                                            onclick="$('#offer_modal').modal()"
                                            type="button">{% trans 'Submit offer' %}</button>
                                {% endif %}
                            {% else %}
                                {% if not provider_offer %}
                                    <button data-html="true" class="btn btn-lg btn-success"
                                            data-placement="left" data-toggle="popover"
                                            data-content='{% trans 'To respond to this request, please add the appropriate' %}
    <a href="{% url 'service_create' %}?category={{ order.category.id }}&subcategory={{ order.subcategory.id }}">{% trans 'service' %}</a>'
                                            type="button">
                                        {% trans 'Submit offer' %}
                                    </button>
                                {% endif %}
                            {% endif %}

                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>


    {% if request.user.is_provider and not order.deadline_mailed_at and not provider_offer and offer_form %}
        <div class="modal" tabindex="-1" role="dialog" id="offer_modal">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{% trans 'Respond to the request' %}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {% bootstrap_field offer_form.amount %}
                            {% bootstrap_field offer_form.comment %}
                            <label>{% trans 'File' %}</label>
                            {{ offer_form.file }}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success btn-block"
                                   value="{% trans 'Submit offer' %}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            var d = $('#dialog');
            d.scrollTop(d.prop("scrollHeight"));
            $("#id_message-text").val('')
        });
    </script>
{% endblock js %}



{% comment %}  {% endcomment %}

