{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <style>
        .row + .row {
            margin-bottom: 2rem;
        }
    </style>
    <form id="order_form" autocomplete="off" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <div class="row">

                    <div class="col-12">
                        {% bootstrap_field form.title %}
                    </div>

                    <div class="col-12">
                        {% bootstrap_field form.category %}
                    </div>

                    <div class="col-12">
                        {% bootstrap_field form.subcategory %}
                    </div>

                    <div id="sub_category_fields" class="col-12"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">

                    <div class="col-12">
                        {% bootstrap_field form.description %}
                    </div>

                    <div class="col-12 picker">
                        {% bootstrap_field form.offer_deadline %}
                    </div>
                    <div class="col-12">
                        {% bootstrap_field form.budget_from %}
                    </div>
                    <div class="col-12">
                        {% bootstrap_field form.budget_to %}
                    </div>
                    <div class="col-12">
                        {% bootstrap_field form.currency %}
                    </div>

                      <div class="col-12">
                        {% bootstrap_field form.test_days %}
                    </div>

                    <div class="col-12">
                        {% bootstrap_field form.only_for_registered show_label='' %}
                    </div>
                     <div class="col-12">
                        {% bootstrap_field form.show_contacts_only_for_winner show_label='' %}
                    </div>
                     <div class="col-12">
                        {% bootstrap_field form.potential_for_my_country show_label='' %}
                    </div>

                    <div class="col-12">
                        <label>{% trans 'File' %}</label>
                        {{ form.file }}
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center mt-5">

            {% if not object.was_published %}
                <button class="btn btn-success" name="Publish" type="submit">{% trans 'Submit' %}</button>

                <input type="submit" name="save_as_bookmark" class="btn btn-primary ml-3"
                       value="{% trans 'Save as draft' %}">
            {% else %}
                <button class="btn btn-success" name="submit" type="submit">{% trans 'Submit' %}</button>
            {% endif %}
        </div>

    </form>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            initDTPicker({'minDate': 0, 'languageCode': '{{request.LANGUAGE_CODE}}'});

            sub_id = parseInt('{{ form.subcategory.value|default_if_none:'' }}')
                || parseInt('{{ object.subcategory.id }}')
                || parseInt('{{ filter.form.subcategory.value }}')
                || parseInt('{{ request.GET.subcategory }}');
            {#category_id = $('#id_category option:selected').val() || parseInt('{{ request.GET.category }}');#}
            {#get_subs_url = '{% url "get_subcategories" %}';#}

            order_create_url = '{% url "order_create" %}';
            order_id = "{{ object.id }}";
            request_post = JSON.parse('{{ request.POST.subcategory|yesno:'true, false' }}');

            if (request_post) {
                request_post_data = {};
                {% for key, value in request_post.items %}
                    request_post_data['{{ key }}'] = JSON.stringify('{{ value }}');
                {% endfor %}
            }

            if (request_post) {
                get_fields_url = '{% url "get_subcategory_bound_fields" %}';
            }
            else {
                get_fields_url = '{% url "get_subcategory_initial_fields" %}';
            }
        })
    </script>
    {#    <script src="{{ STATIC_URL }}core/js/subcategory.js"></script>#}
    <script src="{{ STATIC_URL }}core/js/subcategory_fields.js"></script>
{% endblock js %}