{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h4>{{ title }}</h4>
            <hr>
            <form method="Post">
                {% csrf_token %}
                {% bootstrap_field form.quality %}
                {% bootstrap_field form.time %}
                {% bootstrap_field form.communication %}
                <div class="form-check">
                    <input name="is_recommended"  class="form-check-input" type="radio" value="1">
                    <label class="form-check-label text-success">
                        {% trans 'I recommend' %}
                    </label>
                </div>
                <div class="form-check">
                    <input name="is_recommended" class="form-check-input" type="radio" value="">
                    <label class="form-check-label text-danger" for="defaultCheck2">
                        {% trans 'I do not recommend' %}
                    </label>
                </div>
                {% bootstrap_field form.text %}
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}">
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#id_quality, #id_time, #id_communication").each(function () {
                $(this).parent().append('<div class="rating"></div>')
            });
            $(".rating").starRating({
                starSize: 25,
                ratedColor: 'gold',
                disableAfterRate: false,
                callback: function (currentRating, $el) {
                    $el.parent().find('input').val(currentRating)
                }
            });
        });
    </script>
{% endblock js %}