{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <h1 class="display-5">{% trans 'All requests' %} ({{ object_list|length }})</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 push-lg-9 mb-3">
            <form class="sidebar" action="" method="get" style="padding: 25px;">
                <h3 class="mt-0 p-0">{% trans 'Search' %}</h3>
                <hr/>

                {% for field in filter_form %}
                    <div class="row">
                        <div class="col-12">
                            {% bootstrap_field field bound_css_class='' %}
                        </div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">{% trans 'Search' %}</button>
                        {% if request.user.is_authenticated and request.user.is_customer %}
                            <a href="#" id="order_create" class="btn btn-success btn-sm btn-block mt-2">
                                {% trans 'Submit request' %}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 pull-lg-3">
            {% for order in orders %}
                {% include 'core/order/container.html' %}
            {% empty %}
                {% if not request.user.is_authenticated %}
                    <div class="m-2 text-center h5">
                        {% trans 'To view requests you should' %}
                        <a href="{% url 'registration' %}">{% trans 'Sign up' as sign_up_message %} {{ sign_up_message|lower }}</a>
                        {% trans 'or' %}
                        <a href="{% url 'login' %}">{% trans 'Sign in' as sign_in_message %} {{ sign_in_message|lower }}</a>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            sub_id = parseInt('{{ form.subcategory.value|default_if_none:'' }}')
                || parseInt('{{ object.subcategory.id }}')
                || parseInt('{{ filter.form.subcategory.value }}')
                || parseInt('{{ request.GET.subcategory }}');
            category_id = $('#id_category option:selected').val() || parseInt('{{ request.GET.category }}');
            get_subs_url = '{% url "get_subcategories" %}';
            order_create_url = '{% url "order_create" %}';
        })
    </script>
    {% comment %}<script src="{{ STATIC_URL }}core/js/subcategory.js"></script>{% endcomment %}
    <script src="{{ STATIC_URL }}core/js/create_order.js"></script>
{% endblock js %}

