{% extends 'core/base2.html' %}
{% load bootstrap4 %}


{% block content %}
    {% include 'core/order/container.html' %}
    <form method="post" action="{% url 'order_message_create' order.id %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-10">{% bootstrap_form form %}</div>
            <div class="col-2 d-flex align-self-end">
                <input type="submit" class="btn btn-success btn-sm mb-3 btn-block" value="{% trans 'Send' %}">
            </div>
        </div>
    </form>
{% endblock content %}