{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load core %}

{% block content %}

    <div class="clearfix d-flex align-items-center">
        <h1 class="display-5 float-left">{{ title }}</h1>
        <div class="ml-auto">
            <a class=" btn btn-success btn-sm" href="{% url 'order_create' %}">{% trans 'Submit new request' %}</a>
        </div>
    </div>
    <br>

    {% if object_list %}
        <table class="table table-hover">

            <thead>
            <tr class="text-center">
                <th scope="col">{% trans 'Title' %}</th>
                <th scope="col">{% trans 'Request status' %}</th>
                <th scope="col">{% trans 'Provider' %}</th>
                <th scope="col">{% trans 'Published at' %}</th>
                <th scope="col">{% trans 'Submit offer till' %}</th>
                <th scope="col">{% trans 'Budget' %}</th>
                <th scope="col">{% trans 'Offers' %}</th>
                <th scope="col">{% trans 'Controls' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                {% get_order_new_messages request.user object as order_messages %}
                <tr class="text-center">
                    <td scope="row" class="v-align-middle">
                        <a href="{% url 'order_detail' object.id %}">{{ object.title }}
                            {% if order_messages %}
                                <span class="badge badge-success ml-1">{{ order_messages|length }}</span>
                            {% endif %}
                        </a>
                    </td>
                    <td class="v-align-middle"><span
                            class="badge badge-{{ object.get_status_color }}">{{ object.get_status }}</span></td>
                    <td class="v-align-middle">
                        {% if object.winner %}
                            <a href="{% url 'profile' object.winner.id %}"><b>{{ object.winner }}</b></a>
                        {% else %}
                            <span class="text-warning">{% trans 'Undefined' %}</span>
                        {% endif %}
                    </td>
                    <td class="v-align-middle">{{ object.published_at|default_if_none:'------' }}</td>
                    <td class="v-align-middle">{{ object.offer_deadline|default_if_none:'------' }}</td>
                    <td class="v-align-middle">
                        {% include 'core/order/budget.html' with order=object %}
                    </td>
                    <td class="v-align-middle">{{ object.offers.count }}</td>
                    <td class="v-align-middle">
                        <a href="{% url 'order_update' object.id %}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'order_delete' object.id %}"><i class="fa fa-trash ml-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            <div class="d-flex justify-content-center">
                {% bootstrap_pagination page_obj %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}