{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-8 offset-2">
            {% if form.non_field_errors %}
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">{% trans 'Attention'%}!</h4>
                    {% for error in form.non_field_errors %}
                        <p class="mb-0">{% trans error %}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
            <hr>
                <div class="justify-content-end d-flex">
                    <button type="submit" class="btn btn-primary">{% if btn_value %}{{ btn_value }}{% else %}{% trans 'Submit' %}{% endif %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}