{% extends 'core/base.html' %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-4">
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="card-text text-center text-white h5">
                        {{ title }}
                    </div>
                </div>
                <div class="card-body">
                    {% if offer %}
                        <b class="h5">{% trans 'Offer from' %}: {{ offer.user }}</b>
                        <hr class="mt-1 mb-1">
                         <div>{% trans 'Offered at' %}: {{ offer.created_at }}</div>
                        <div>{% trans 'Budget proposal' %}: {{ offer.amount }}</div>
                        <div>{% trans 'Comment' %}: {{ offer.comment }}</div>
                    {% endif %}

                    {% if order %}
                        <div class="mt-3">
                            <b class="h5">Order: {{ order.title }}</b>
                            <hr class="mt-1 mb-1">
                            <div>{% trans 'Status' %}: {{ order.get_status }}</div>
                            <div>{% trans 'Date of publication' %}: {{ order.published_at|default_if_none:'------' }}</div>
                            <div>{% trans 'Deadline' %}: {{ order.offer_deadline|default_if_none:'------' }}</div>
                            <div>{% trans 'Offers' %}: {{ order.offers.count }}</div>
                        </div>
                    {% endif %}


                </div>
                <div class="card-footer bg-white" style="border-top: 1px solid lightgray">
                    <div class="row">
                        <div class="col">
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-success btn-block btn-sm">
                                    {% trans 'Yes' %}
                                </button>
                            </form>
                        </div>
                        <div class="col">
                            <button onclick="window.history.back()" class="btn btn-outline-primary btn-block btn-sm">
                                {% trans 'No' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}