<div class="row">

    <div class="col-6">
        <div>
            <h6 class="m-0">{% trans 'Categories' %}</h6>
            <hr class="mt-2 mb-2">
            <div class="list-group-item list-group-item-action category p-2">
                ------
            </div>
            {% for category in categories %}
                <div id="category{{ category.id }}" class="list-group-item list-group-item-action category p-2">
                    {{ category.name }}
                    <span class="float-right"><i class="fa fa-caret-right"></i></span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-6">
        <div class="pt-2 sticky-top">
            <h6 class="m-0">{% trans 'Subcategories' %}</h6>
            <hr class="mt-2 mb-2">
            <div class="list-group-item list-group-item-action subcategory none-subcategory p-2">
                ------
            </div>
            {% for subcategory in subcategories %}
                <div id="subcategory{{ subcategory.id }}"
                     class="{{ subcategory.category_id }} subcategory list-group-item list-group-item-action p-2"
                     style="display: none">{{ subcategory.name }}</div>
            {% endfor %}
            <button id="save" type="button" class="btn btn-outline-primary btn-block mt-2">{% trans 'Select' %}</button>
        </div>
    </div>
</div>
