{% load bootstrap4 %}

{% if field.field_type == 'range_field' %}
    <div class="form-group">
        <div class="row">
            <div class="col-11 pr-0">
                {% bootstrap_form form %}
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <output style="font-size: 1rem" id="id_value_{{ field.id }}_output">
                    {{ value }}
                </output>
            </div>
        </div>
    </div>
{% else %}
    {% bootstrap_form form bound_css_class='' %}
{% endif %}



