{% block content %}
{% endblock content %}

<p>--</p>
<p>Your iqOffer Team</p>
<br/>
<p>Support: <a href="mailto:support@iqoffer.com">support@iqoffer.com</a></p>
<p>FAQ: <a href="https://iqoffer.com{% url 'faq' %}">https://iqoffer.com/faq/</a></p>
<p>Post an idea: <a href="https://iqoffer.useresponse.com/">https://iqoffer.useresponse.com/</a></p>
