{% block content %}
{% endblock content %}

<p>--</p>
<p>Ваша команда iqOffer</p>
<br/>
<p>Задавайте любые вопросы: <a href="mailto:support@iqoffer.com">support@iqoffer.com</a></p>
<p>Часто задаваемые вопросы: <a href="https://iqoffer.com{% url 'faq' %}">https://iqoffer.com/faq/</a></p>
<p>Предложить идею: <a href="https://iqoffer.useresponse.com/">https://iqoffer.useresponse.com/</a></p>
