{% extends 'core/emails/base.ru.html' %}

{% block content %}
    {% if message.order %}
        <p>Вы получили новое сообщение по поводу заявки <a
                href="https://iqoffer.com{% url 'order_detail' message.order.id %}">{{ message.order.title }}</a></p>
        {% if unknown_customer_message %}
            <p>{{ unknown_customer_message }}</p>
        {% endif %}
        <hr>
        <p>{{ message.text|capfirst }}</p>
        <hr>
       {% comment %} <p><a href="https://iqoffer.com{% url 'order_messages' message.order.id  message.recipient.id %}">Посмотреть все сообщения</a>
        </p>{% endcomment %}
    {% endif %}
    {% if message.service %}
        <p>Вы получили новое сообщение по поводу услуги <a
                href="https://iqoffer.com{% url 'service' message.service.id %}">{{ message.service.name }}</a></p>
        <hr>
        <p>{{ message.text|capfirst }}</p>
        <hr>
       {% comment %} <p>Посмотреть все сообщения <a
                href="https://iqoffer.com{% url 'service_messages' message.service.id  message.recipient.id %}">Посмотреть все сообщения</a>
        </p>{% endcomment %}
    {% endif %}
{% endblock content %}