{% extends 'core/emails/base.en.html' %}

{% block content %}
    <p>Congrats! Your offer turned out to be the best!
        <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Check out request</a>
    </p>
    <p>Contact with customer and start providing the service!</p>
    <p>P.S.: Don't forget to <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">leave a review</a></p>
{% endblock content %}