{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>
        Здравствуйте! К сожалению, ваше предожение по <a href="https://iqoffer.com{% url 'order_detail' order_id %}">заявке</a>
        было отклонено. Попробуйте изменить условия Вашего предложения, чтобы оно стало более выгодным для заказчика.
    </p>
{% endblock content %}