{% extends 'core/emails/base.en.html' %}

{% block content %}
    <p>Hello {{ order.owner }}!</p>
    <p>You have successfully chosen the IT provider
        <a href="https://iqoffer.com{% url 'profile' order.winner.id %}">{{ order.winner }}</a>
        as the provider of your request  <a href="https://iqoffer.com{% url 'order_detail' order.id %}">{{ order.id }}</a>.
    </p>
    <p>Please make sure you have agreed with the IT provider terms, including the payment terms.</p>
    <p>After the service is provided to you, please write a review about deal with the provider
        <a href="https://iqoffer.com{% url 'order_feedback' order.id %}">here</a>.
        The IT provider will also provide feedback on their experience with you. Reviews affect the reputation and allow
        you to find new IT providers on the <a href="https://iqoffer.com">iqoffer.com</a> quickly. </p>
{% endblock content %}