{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>Здравствуйте, {{ order.owner }}!</p>
    <p>Вы выбрали в качестве исполнителя своей заявки <a href="https://iqoffer.com{% url 'order_detail' order.id %}">{{ order.id }}</a> провайдера
        <a href="https://iqoffer.com{% url 'profile' order.winner.id %}">{{ order.winner }}</a>.
    </p>
    <p>Пожалуйста, убедитесь в том, что согласовали с провайдером порядок выполнения заявки, в том числе сроки и условия
        оплаты.</p>
    <p>После того, как услуга будет вам оказана напишите отзыв о работе с ИТ провайдером -
        <a href="https://iqoffer.com{% url 'order_feedback' order.id %}">здесь</a>.
        ИТ провайдер также оставит отзыв о работе с вами. Отзывы влияют на репутацию и позволят быстрее находить новых
        исполнителей на сайте <a href="https://iqoffer.com">iqoffer.com</a></p>
{% endblock content %}