{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>Поздравляем! Ваше предложение оказалось лучшим!
        <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Посмотреть заявку</a>
    </p>
    <p> Свяжитесь с заказчиком, чтобы начать предоставлять услуги!</p>
    <p>P.S.: Не забудьте <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">оставить отзыв</a></p>
{% endblock content %}