{% extends 'core/emails/base.ru.html' %}

{% block content %}
    {% if created_by.is_customer %}
        <p>
            {{ created_by }} оставил отзыв на вашу компанию. Ознакомьтесь с <a
                href="https://iqoffer.com{% url 'profile' recipient.id %}">отзывами</a> заказчиков
        </p>
        {% if ps %}
            <p>
                P.s.: Не забудьте оставить отзыв о <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">заказчике</a>
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ created_by }} оставил отзыв на вашу компанию. Ознакомьтесь с <a
                href="https://iqoffer.com{% url 'profile' recipient.id %}">отзывами</a> исполнителей
        </p>
        {% if ps %}
            <p>
                P.s.: Не забудьте оставить отзыв об <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">исполнителе</a>
            </p>
        {% endif %}
    {% endif %}
{% endblock content %}