{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>
        По вашей заяке поступило новое предложение!
    </p><br/>
    <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Ознакомиться</a>
{% endblock content %}