{% extends 'core/emails/base.en.html' %}

{% block content %}
    <p>
        Your request is expired.
        <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Check</a>
    </p>
{% endblock content %}