{% extends 'core/emails/base.en.html' %}

{% block content %}
    {% if created_by.is_customer %}
        <p>
            {{ created_by }} has rate your company. Check out customer’s <a
                href="https://iqoffer.com{% url 'profile' recipient.id %}">review</a>
        </p>
        {% if ps %}
            <p>
                P.s.: Don’t forget to rate the <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">customer</a>
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ created_by }} has rate your company. Check out providers’s <a
                href="https://iqoffer.com{% url 'profile' recipient.id %}">review</a>
        </p>
        {% if ps %}
            <p>
                P.s.: Don’t forget to rate the <a href="https://iqoffer.com{% url 'order_feedback' order_id %}">provider</a>
            </p>
        {% endif %}
    {% endif %}
{% endblock content %}