{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>
        Ваша заявка просрочена.
        <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Ознакомиться</a>
    </p>
{% endblock content %}