{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>
        Вы получили предложение по вашей <a href="https://iqoffer.com{% url 'service' service_id %}">услуге</a>
        на принятие участия в <a href="https://iqoffer.com{% url 'order_detail' order_id %}">заяке</a>
    </p>
{% endblock content %}