{% extends 'core/emails/base.en.html' %}

{% block content %}
    <p>
        You received a <a href="https://iqoffer.com{% url 'service' service_id %}">service</a>
        offer invitation to take part in <a href="https://iqoffer.com{% url 'order_detail' order_id %}">request</a>
    </p>
{% endblock content %}