{% extends 'core/emails/base.ru.html' %}

{% block content %}
    <p>
       Появилась потенциальная заявка {{ order_id }} по вашей услуге. <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Ознакомиться</a>
    </p>
{% endblock content %}