{% extends 'core/emails/base.en.html' %}

{% block content %}
    <p>
        There is a potential {{ order_id }} request for your service. <a href="https://iqoffer.com{% url 'order_detail' order_id %}">Check</a>
    </p>
{% endblock content %}