{% extends 'core/emails/base.en.html' %}

{% block content %}
    {% if user.is_provider %}
        <p>Hello, {{ user.recipient_name }}</p>
        <p>{{ user.from_username }} ({{ user.from_email }}) wants to invite you and your company to register on iqoffer.com - 1st B2B IT services
            platform.</p>
        <p>This platform allows your company to get new orders for IT services every day.</p>
        <p>We are always expanding our list of IT providers. Be among the first to receive maximum IT services requests from our customers!</p>
        <p><a href="{{ invite_url }}">Sign up for free</a></p>
    {% elif user.is_customer %}
        <p>Hello, {{ user.recipient_name }}</p>
        <p>{{ user.from_username }} ({{ user.from_email }}) wants to invite you and your company to register on iqoffer.com - 1st B2B IT services
            platform.</p>
        <p>This platform allows your company to get the best offers for IT services by more than 10000+ IT providers.</p>
        <p><a href="{{ invite_url }}">Sign up for free</a></p>
    {% endif %}
{% endblock content %}
