{% extends 'core/emails/base.ru.html' %}

{% block content %}
    {% if user.is_provider %}
        <p>Здравствуйте, {{ user.recipient_name }}</p>
        <p>{{ user.from_username }} ({{ user.from_email }}) хочет пригласить вас и вашу компанию зарегистрироваться на сайте iqoffer.com - первой
            B2B платформе ИТ услуг</p>
        <p>Эта платформа позволит вашей компании получать новые заказы на ИТ услуги каждый день.</p>
        <p>Мы ежедневно расширяем список ИТ-провайдеров. Будьте в числе первых, чтобы получать максимум заявок от заказчиков!</p>
        <p><a href="{{ invite_url }}">Зарегистрироваться бесплатно</a></p>
    {% elif user.is_customer %}
        <p>Здравствуйте, {{ user.recipient_name }}</p>
        <p>{{ user.from_username }} ({{ user.from_email }}) хочет пригласить вас и вашу компанию зарегистрироваться на сайте iqoffer.com - первой
            B2B платформе ИТ услуг</p>
        <p>Эта платформа позволит вашей компании получать лучшие условия на ИТ услуги от более чем 10000+ ИТ
            поставщиков.</p>
        <p><a href="{{ invite_url }}">Зарегистрироваться бесплатно</a></p>
    {% endif %}
{% endblock content %}
