{% extends 'core/emails/base.ru.html' %}

{% block content %}
    {% if user.is_provider %}
        <p>
            Мы приглашаем вас зарегистрировать свою компанию в качестве ИТ поставщика и предоставлять услуги нашим
            клиентам.
        </p>
        <p>Мы ежедневно расширяем список ИТ-провайдеров. Будьте в числе первых, чтобы получать максимум заявок от заказчиков!
</p>
        <p><a href="{{ invite_url }}">Зарегистрироваться бесплатно</a></p>
    {% elif user.is_customer %}
        <p>
            Приглашаем вас зарегистрировать свою компанию на платформе iqOffer, которая позволит вам получить наилучшие
            ИТ услуги от множества исполнителей в любой сфере бизнеса.
        </p>
        <p>
            Эта платформа позволит вашей компании получать лучшие условия на ИТ услуги от более чем 10000+ ИТ
            поставщиков в одном месте.
        </p>
        <p><a href="{{ invite_url }}">Зарегистрироваться бесплатно</a></p>
    {% endif %}
{% endblock content %}
