{% extends 'core/emails/base.en.html' %}

{% block content %}
    {% if user.is_provider %}
        <p>We invite you to sign up your company as an IT provider and offer IT services to our customers.</p>
        <p>We are always expanding our list of IT providers. Be among the first to receive maximum IT services requests from our customers!</p>


        <p><a href="{{ invite_url }}">Sign up for free</a></p>
    {% elif user.is_customer %}
        <p>
            We invite you to sign up your company in iqOffer platform which allows you to get best IT services from many
            IT providers in any business areas.

        </p>
        <p>Save your time and money. Get the best b2b offers from 10 000+ IT providers in one place.</p>
        <p><a href="{{ invite_url }}">Sign up for free</a></p>
    {% endif %}
{% endblock content %}
