{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}


{% block settings_content %}

    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.email %}
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.phone %}
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.country %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.city %}
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.legal_address %}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                {% bootstrap_field form.actual_address %}
            </div>

        </div>
        <hr class="mt-0">
        <div class="text-right">
            <button type="submit" class="btn btn-success">{% trans 'Submit' %}</button>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}core/js/citiesManager.js"></script>
    <script>
        $(document).ready(function () {
            var citiesManager = new CitiesManager(
                {
                    'ajaxUrl': '{% url 'get_cities' %}',
                    'cityValue': '{{ form.city.value }}'
                })
        })
    </script>
{% endblock js %}