{% extends 'core/settings/base_settings.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% block settings_content %}
    <div class="clearfix d-flex align-items-center">
        <div class="ml-auto">
            <a class="btn btn-success btn-sm" href="{% url 'office_create' %}">{% trans 'Add new office'%} </a>
        </div>
    </div>
    <br/>

    {% if object_list %}
            <table class="table table-hover table-sm table-responsive-sm">
                <thead>
                <tr class="text-center">
                    <th scope="col">{% trans 'Email' %}</th>
                    <th scope="col">{% trans 'Phone number' %}</th>
                    <th scope="col">{% trans 'Legal address' %}</th>
                    <th scope="col">{% trans 'Actual address' %}</th>
                    <th scope="col">{% trans 'Actions' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr class="text-center">
                        <td scope="row">{{ object.email }}</td>
                        <td>{{ object.phone }}</td>
                        <td>{{ object.legal_address }}</td>
                        <td>{{ object.actual_address }}</td>

                        <td>
                            <a href="{% url 'office_update' pk=object.pk %}"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'office_delete' pk=object.pk %}"><i class="fas fa-trash ml-2"></i></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        <div class="row">
            {% if is_paginated %}
                <div class="col-10">
                    {% bootstrap_pagination page_obj %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}